[2015-01-03 12:01] andreas-repp opened #1 "Textures Map is not found/created"
Starting SwingManagedJSettlers when you do not have a texturemap throws the following exception:

[code]

[2015-01-03 20:25] andreas-eberle opened #2 "Settlers folder must be configurable on local developer machine"
Furthermore, the paths currently configured in the global properties should be removed or replaced with the settlers standard installation path.

[2015-03-24 16:48] #1 closed, assigned to michaelzangl

[2015-03-24 16:53] andreas-repp opened #3 "Implement sync check for multiplayer"
In multiplayer the game should check if the players are still in sync. This would prevent a later "manual" detection and therefore the loss of a lot of playing time. Furthermore, it would help to detect bugs that cause the asynchronism.

_Suggested Implementation_
All clients could regularly (all clients at the same game time) send a calculated pseudo random number of the game's random generator.

[2015-03-27 09:28] andreas-eberle opened #4 "Build script should zip/tar JSettlers in a folder"
The build script should create a zip/tar file that unpacks to a folder containing the files of the game.

[2015-04-06 12:12] hetzge opened #5 "Java Files in Build folder"
Some classes could not be resolved. As example jsettlers.common.images.TextureMap in jsettlers.graphics.map.draw.ImageProvider. The TextureMap.java is localted in the build folder (https://github.com/jsettlers/settlers-remake/blob/d3e225df6eb6342481955c52a1c4ecf1af87225c/jsettlers.common/build/jsettlers/common/images/TextureMap.java)

Or is there a special reason for that ?

[2015-04-06 12:22] hetzge commented on #5
Oh i see ... i didn't run the buildfile createTexture.ant correctly.

[2015-04-06 12:22] #5 closed

[2015-04-06 13:53] andreas-eberle commented on #5
Just a question: Has this not been run by eclipse automatically? It should be configured as a "Builder" in the project settings. If it wasn't, please reopen the ticket, so I can fix the configuration.

[2015-04-06 14:26] hetzge commented on #5
I am not very experienced with ant. Because that i done it a little bit complicated. But i retried it with a fresh clone and it seams to build/start when i start the SwingMangedJSettler main class. The only thing i have to do first is creating a gen folder in the jsettlers.common Project.

[2015-04-06 15:53] andreas-eberle commented on #5
Thanks, I updated the code to add the missing folder and fixed another bug in one of the android buildfiles.

[2015-04-06 16:40] Zervox opened #6 "Settlers graphics walking off into eternity."
I see sometimes soldiers and normal settlers just starting to walk endlessly out of the map, this usually only happens in the beginning starting a map.

[2015-04-06 16:42] Zervox opened #7 "Settlers pathfinding"
The Unit AI for builders and/or carrier starts to walk in tight circles if blocked by rocks never getting from and to target locations(leads to unfinished buildings).

[2015-04-06 20:22] andreas-eberle commented on #7
Can you attach the replay file and the logfiles of your game (see https://github.com/jsettlers/settlers-remake#found-a-bug-report-it). This will help me a lot to reproduce it.

Thanks in advance.

[2015-04-06 20:23] andreas-eberle commented on #6
With which map did you experience that? Can you tell me exactly how to reproduce it?

[2015-04-06 20:28] andreas-eberle opened #8 "The folder of the original Settlers installation must be requested on first startup"
Instead of letting the user configure the folder in the config file, we should open a dialog on first startup or whenever the settlers files cannot be found. This dialog should allow you to select the folder and save this to the configuration file.

[2015-04-06 22:02] andreas-eberle commented on #6
I was able to reproduce this on the map "Nice Map". However, on "Mountain Lake", it seems to work. Furthermore on "Nice Map" buildings aren't finished. I will investigate that.

[2015-04-06 22:06] andreas-eberle opened #9 "The Map "Nice Map" seems to cause bugs with pathfinding"
It looks like there appear bugs when playing "Nice Map". I recommend to play other maps until the bug is fixed.

This seems to be the cause for #6 and #7 .

[2015-04-06 23:48] Zervox commented on #7
http://www.mediafire.com/download/kb0d1ec5l0v6eo6/2015-04-06_17-07-40_Nice_Map.rar

I think this is the correct replay file, note the builder in the top left corner by the tower, I can't seem the other replay where diggers and carriers were doing the same thing.

Might I ask what would cause a map to make the behavior of the game break? map size? or is there some special scripts?

Just asking as I

[2015-04-07 18:22] andreas-eberle opened #10 "Buildings request too many builders causing too many of them beeing created"
Steps to reproduce: Build a single lumberjack with no available bricklayers and wait until the bricklayers are requested.

[2015-04-07 18:23] #10 closed

[2015-04-07 18:24] #7 closed

[2015-04-07 18:25] #9 closed

[2015-04-07 18:25] #6 closed

[2015-04-07 19:09] andreasb242 commented on #8
I may help implementing it, but not today ;-)
There is another issue, the Original folder is called SND.

	public String[] getSndFolders() {
		return getFolders("Snd");
	}

This is not working on Linux, because usually the Fielesystem is case sensitive...

[2015-04-07 19:43] andreas-eberle opened #11 "The SND folder has an incorrect capitalization, which doesn't work on Linux."
@andreasb242 reported:

[2015-04-07 19:43] andreas-eberle commented on #8
Hi @andreasb242,

feel free to develop it and send me a Pull Request. I thought of a simple folder select dialog. Nothing fancy.

Regarding the other bug, I opened a seperate ticket #11. In the future, simply open a new ticket ;)

[2015-04-07 20:56] andreas-eberle commented on #7
Hi Zervox,

the bug wasn't caused by the map directly. Instead it was a bug in the implementation of the Settlers, which caused them to be no longer subscribed to the game timer. That caused #6 and this behavior.

I guess it happend on Nice Map because there were a lot of jobless settlers at start and the bug only happend to jobless settlers.

I fixed the bug an two more and just released a new ve

[2015-04-10 04:30] justangel opened #12 "which encoding localization files?"
encoding files in resources\localization folder? what program to edit and save?

game support the choice of localization? when editing a file labels_de.properties in the game is not displayed properly, and when you create a localization file, there is no choice of which file to use

[2015-04-10 13:56] andreas-eberle opened #13 "NullPointerException in Background causes users of IGraphicsBackgroundListener to crash"
Whenever the background is invalidated (for example on zooming), a call to Background.backgroundChangedAt(int,int) may crash due to a race condition by throwing a NullPointerException:

[code]

The race condition happens between the UI thread and the thread running the central timer of the game logic.

[2015-04-10 14:12] andreas-eberle commented on #13
@michaelzangl : Can you have a look at my fix in bc5775dcd28d8387f30d173c2706617ec1a49578. Do you see any problems with that solution? I tested it a bit and did not have any trouble.

[2015-04-11 19:04] Zervox opened #14 "Minimap graphical error on fullscreen"
if you use maximize window button on windows(64bit) in my case, the minimap gets dotted looks like it is skipping a few lines in the minimap, while if I scale the window manually(by dragging the window borders) to cover the entire screen it looks ok.
(this happens in both 1.0 and 1.1 release builds on any map)

[2015-04-11 19:06] Zervox opened #15 "Terrain Frustum problem."
I notice terrain becomes black at the bottom part of the screen when moving over mountains, this does not happen on flat ground level terrain, it looks like frustum culling problem to me, as if the tiles are outside frustum while they should be inside.
(this happens in both 1.0 and 1.1 release builds on any map)

[2015-04-11 19:19] michaelzangl commented on #14
Seems to be a regression of Bug 13 (old tracker): Map view only shows dots of the map display when the minimap size in pixel is bigger than the real map width/height. The rest is black.

[2015-04-11 19:20] michaelzangl commented on #15
Bug 85 in old tracker.

[2015-04-12 10:31] andreas-eberle opened #16 "Position of plank stack of sawmills is not protected"
This makes it possible to build a sawmill that has this stack blocked by a tree or other obstacle, resulting in planks that can never be picked up.

[2015-04-12 10:33] #16 closed

[2015-04-12 10:44] andreas-eberle opened #17 "When a stack of material is picked up, a position protected by a building is unprotected."
Whenever a stack of material gets empty, it is removed from the MapObjects manager. When this is done, its position is unprotected (If there is no other stack on the same position). If the stack is from a producing building, that building's protected position of the stack is unprotected. However, the producing settler still puts the produced good there. This works until the position is blocked, e.

[2015-04-12 11:59] #17 closed

[2015-04-12 20:03] michaelzangl opened #18 "jsettlers.common/gen is not refreshing"
When doing a clean checkout and a new build, eclipse does not recognize that the gen directory was created. It only scans for updates of files inside that directory.

Workaround: Refresh jsettlers.commons manually and then rebuild.

[2015-04-13 07:58] namelessjames opened #19 "Backslash in Properties file needs to be escaped."
JSettlers is not starting on Windows 8.1 Pro 64-bit (6.3, Build 9600). No logs created.

1. Unpacked and installed JSettlers correctly.
2. Installed S3-Version is from GoG.com (has both SND and GFX folders)
3. Edited Settlers 3 Installation Path in config.prp (also tried encapsulating the path with " )

JRE-Version: 8.0_40 (both 64 and 32-bit)

-
Also tried to run it from the command prompt (admin

[2015-04-13 09:53] andreas-eberle commented on #19
Hi @namelessjames,

thanks for your report! Can you answer the following questions?

- when running the jar from the command prompt
  - what where your exact arguments / what did you enter?
  - Please run the game from the command line with ```java -jar JSettlers.jar --console-output``` an post the complete result.
- Can you also attach your config.prp file or post it in the comment? (Just to make

[2015-04-13 10:51] namelessjames commented on #19
Hi @andreas-eberle

thanks for your reply :)

# Answering your questions

```java -jar JSettlers.jar```

Please see below

Yeah sure: ```#This properties are used for development
#Specifies the folder where the resources can be found. NOTE: The path needs to end with a slash ( / )
resources-folder=resources/
#Folder containing the folders of the graphics and the sound files. If you want to specify

[2015-04-13 11:25] michaelzangl commented on #19
Hi. The backslash in properties files needs to be escaped. Try this:

settlers-folder=C:\\Program Files (x86)\\The Settlers 3 - Ultimate Collectio

I still believe this is a bug, we should at leas warn about this issue.

[2015-04-13 11:36] michaelzangl commented on #12
Added multi-language support in 1d3f864055b3e68f54fbf519cc30d6440c288f10

You can add your own locale by copying the `labels_*.properties` and translating all labels. Name it `labels_<lang>.properties`. The encoding is UTF-8.

[2015-04-13 11:36] namelessjames commented on #19
hi @michaelzangl

that works just fine! Thank you. :+1:

[2015-04-13 15:20] justangel commented on #12
thank you, will have to download Eclipse, build assembly and check local

[2015-04-13 15:28] justangel commented on #19
windows 8.1 x64 jSettlers starting fine for me

C:\WINDOWS\system32>java -version
java version "1.7.0_60"
Java(TM) SE Runtime Environment (build 1.7.0_60-b19)
Java HotSpot(TM) 64-Bit Server VM (build 24.60-b09, mixed mode)

but DedicatedJSettlersServer_v0.1-alpha.jar and MapCreator.jar after starting immediately closed

[2015-04-13 20:54] Zervox commented on #19
"C:\\Program Files (x86)\\The Settlers 3 - Ultimate Collectio"
I found it easier to just do
C:/Program Files (x86)/The Settlers 3 - Ultimate Collection/"

also I've the same close with server and MapCreator.

[2015-04-14 08:25] justangel commented on #12
1 - copy/paste labels_en_US.properties and rename to labels_ru_RU.properties
2 - open labels_ru_RU.properties and replaced:
building_FORESTER    = Förster
to
building_FORESTER    = Лесник
3 - save in UTF-8 w/o BOM
4 - in game http://1drv.ms/1crdKhM the same problem text encoding

[2015-04-14 09:50] andreas-eberle commented on #12
@justangel:

Did you check the forester building? As the building on your image is a lumberjack.

Furthermore, did you try Michael's branch "bugfix_12_locales"? It wasn't in the master yet, but I will merge it asap.

[2015-04-14 09:53] andreas-eberle opened #21 "Map Creator cannot be started"
This issue was described by @justangel and @Zervox in #19.

[2015-04-14 10:05] #21 closed

[2015-04-14 10:49] andreas-eberle commented on #19
In my opinion, the best solution for this issue is to focus on #8. This will solve this issue (as users don't have to edit the file) and will increase user comfort.

[2015-04-14 10:54] michaelzangl commented on #12
You are right, the Encoding of those files was ISO-8859-1. I changed it to UTF-8

[2015-04-14 11:53] #13 closed

[2015-04-14 13:20] justangel commented on #12
works perfect, thank you

[2015-04-14 17:54] Fantu commented on #8
Probably the folder name have different case-sentive in different installation.
I installed S3 with wine from old original cdroms and the folder was Snd and Gfx.
A solution probably is to add an exist condition that try both case.

[2015-04-14 18:08] Fantu commented on #12
Thanks for this opensource project of remake of first game I buyed in the distant 1998.
Probably can be good use transifex or similar for easier and faster translations.
For now the language strings are few but if in future will be many will make a big difference.
I used transifex for example for this project and other and helped me a lot:
https://www.transifex.com/projects/p/acok/

[2015-04-15 14:25] #15 closed

[2015-04-15 14:26] andreas-eberle commented on #15
This was implemented in e8c8c96813910b44e1828adcd781a455192f29f0.

[2015-04-15 14:46] andreas-eberle opened #24 "Soldier running of the grid after moving to position."

[2015-04-15 14:53] andreas-eberle opened #25 "Weird graphics artefacts on zoom in combination with fog of war"
The following image shows the problem. It was created by turning the fog of war off, then zooming a bit out or in. Similar stuff happens when turning the fog of war on again.

![unbenannt](https://cloud.githubusercontent.com/assets/9267365/7161448/77c06c70-e38f-11e4-8956-5d6ae1bd1276.png)

[2015-04-15 16:13] andreas-eberle commented on #24
The bug happens when the user sets a new path to a soldier in the moment it reaches the former target position and the new target position is not reachable.

[2015-04-15 16:21] #24 closed

[2015-04-15 16:25] andreas-eberle commented on #11
It seams like the folders can have different capitalizations with different installations. We should check various capitalizations.

[2015-04-16 01:49] adamjryan commented on #8
Given the demo is freely available on the web why not just bundle it with this and then it will be in a known location and the config can be bypassed.

[2015-04-16 06:10] Fantu commented on #8
The settlers 3 license should be checked, redistribution is high probably prohibited and probably also use of resource of demo is limited.

[2015-04-16 19:47] stumpdk opened #30 "Android: Unable to make special settlers"
When selecting settlers on Android, the menu for creating special settlers such as geologists is no displayed. JSettlers v. 0.1.1. Build b66ae74.

[2015-04-16 19:55] stumpdk opened #31 "Framerate cap?"
A small suggestion, maybe overkill, or not possible:
Would it make any sense to make a frame rate cap on the game?
My Windows PC runs at 35, which give a smooth and fine experience, while my Andriod game runs at 51, which seems like too much, the ressources and battery drain taken into consideration.

By the way: Thank you so much for your great work! I'm looking forward to new releases, and to ch

[2015-04-16 20:05] stumpdk opened #32 "Builders stops carriers when building"
When working on a building, the builders make the incomming carriers wait and queue up. This is especially an issue with larger buildings like Large Residence.
As far as I remember, in the original Settlers, the carriers could unload, while the builders were working.

[2015-04-16 20:08] michaelzangl commented on #30
There is no such menu ;-)

[2015-04-16 20:10] stumpdk commented on #30
Okay. How are you supposed to create geologists then? :)

[2015-04-16 20:18] daviddawson opened #33 "use gradle for build?"
Would you consider a PR to convert the build to gradle rather than ant?

That will allow use of other IDE and also give good integration with the new android developer tools that are gradle based.

[2015-04-16 20:18] daviddawson commented on #33
This would also fix issue #4

[2015-04-17 09:56] justangel opened #34 "MapCreator.jar - save map problem"
after created a map, set up the basic resources, put players Spawn points, then press "SAVE" and nothing happens.
When you click on "PLAY", the map editor does not respond

OS: win8.1x64

C:\WINDOWS\system32>java -version
java version "1.7.0_75"
Java(TM) SE Runtime Environment (build 1.7.0_75-b13)
Java HotSpot(TM) 64-Bit Server VM (build 24.75-b04, mixed mode)

MapCreator.jar last version from mas

[2015-04-17 10:01] justangel commented on #4
1 - compile sources from Eclipse
2 - use "build.ant" for build zip/tar and other files jSettlers in a "target" folder, and this work perfect for me

[2015-04-17 10:16] namelessjames commented on #34
For debugging reason, try to start JSettlers.jar with the admin command and then post any error messages output in the console window here:
``` java -jar JSettlers.jar --console-output ```

[2015-04-17 11:29] andreas-eberle commented on #4
What I meant was that the content of the zip or tar fie should be a folder called JSettlers containing the game's files. At the moment the game files are directly zipped/tared.

[2015-04-17 16:41] justangel commented on #34
maybe you mean
java -jar MapCreator.jar --console-output

when press "SAVE" error in console:

Calculating partitions needed: 1 ms
found 4 partitions.
java.lang.UnsupportedOperationException
        at jsettlers.logic.map.save.DirectoryMapLister.getOutputStream(Directory
MapLister.java:93)
        at jsettlers.logic.map.save.MapList.saveNewMap(MapList.java:150)
        at jsettlers.mapcreator.main

[2015-04-17 16:51] justangel commented on #4
I see, sorry, my fault, did not understand what it was about, I confirm the fact of the problem about zip/tar files

[2015-04-17 17:26] justangel commented on #4
fix for that problem http://1drv.ms/1CUwj4p a few corrections one build file

[2015-04-18 17:41] justangel commented on #34
java -jar MapCreator.jar --console-output

When click on "PLAY" button, the map editor does not respond for a while, depending on map size

Starting process:
java -classpath MapCreator.jar jsettlers.main.swing.SwingManagedJSettlers --mapf
ile=C:\Users\JUST_T~1\AppData\Local\Temp\tmp_map2151149639393529263
Current working dir: G:\games\JSettlers\..\jsettlers.main.swing
java.io.IOException: Cannot r

[2015-04-18 19:29] michaelzangl commented on #34
There are 2 problems (bugs) here:
(1) You cannot save the map. The packed map editor uses the same logic as the game to determine which directory to use.  The maps directory is not writable by the game, so it is forbidden to save maps there.
(2) The settlers app cannot be started, because it is not found by the map editor. It currently only looks for the app in a normal dev environment. I created

[2015-04-18 19:29] michaelzangl opened #38 "Map editor should find settlers app"
The play-button of the map editor is not working in the packed version. It does not start the settlers app correctly.

[2015-04-18 19:32] michaelzangl commented on #12
We might look into this in the future. Feel free to implement it, keep in mind that it should also work on Android.

[2015-04-18 19:32] #12 closed

[2015-04-18 20:27] Zervox commented on #31
To me it seemed like it already did a framerate cap, I've tried three different windows PCs and all gets locked to 42.1 top. all with different cpus varying by age etc same with gpus ranging from a HD3850 to HD5950 to HD7850 with cpu utilization zoomed in at about 2-3% and 13% viewing the entire map and all fog of war removed.

[2015-04-18 20:29] stumpdk commented on #32
Can this be accomplished by setting brcklayer.visible = false when running tryToBuild() in BricklayerStrategy? That way, the bricklayer won't occupy the space for the carrier.

[2015-04-18 22:51] Fantu opened #39 "English locales with strings having wrong language"
settlers-remake/jsettlers.common/resources/localization/labels_en_US.properties is only with few strings correct, other must be translated to english.

As I told in #12 I started new transifex project to make easier and faster translation, when there will be full template (english) correct will be possible start using it:
https://www.transifex.com/projects/p/settlers3-remake/

[2015-04-19 08:26] stumpdk commented on #31
On PC I experienced a very stable framers at about 35 fps.
But there doesn't seem to be such a cap on the Android edition. I guess there's a difference because the PC and Android editions uses different rendering engines.

[2015-04-19 11:15] Zervox commented on #31
I seriously doubt they've got two different rendering engines(as they are using OpenGL on both platforms), if somethings are optimized or done a bit different on Mobiles is another matter.

[2015-04-19 15:37] stumpdk commented on #31
Then it's just strange that my phone runs a higher frame rate than my PC.

[2015-04-19 17:58] andreas-eberle commented on #32
No, it can't. The thing is, that only movables that are on the grid, can/will be rendered. So in JSettlers any position on the map can only be occupied by one single Movable. The way to go is to calculate a path around the other movable.

Solving such conflicts is already done for many cases with the Movable.push() mechanics. I will have to check what needs to be done exactly for this case.

[2015-04-19 20:14] adamjryan commented on #33
I second this. Would a submission to begin a migration to Gradle be welcome?

[2015-04-19 20:53] andreas-eberle opened #41 "Make network tests more robust"
The network tests fail sometimes (depending on the load of the testing system). Make them more robust. Work started in PR #27 .

[2015-04-19 21:07] andreas-eberle commented on #33
I never worked with Gradle, but if you can create the required build configurations and want to submit them as PR, go ahead. I don't care what system is used, as long, as it does it's work ;) This includes  Swing Build, Android Build, low compile times during development / incremental builds and if possible, different build profiles (development and release) would be great.

@michaelzangl: Do you

[2015-04-20 09:55] #11 closed

[2015-04-20 10:34] #25 closed

[2015-04-20 11:02] #14 closed

[2015-04-20 13:47] Zervox commented on #31
Not really it isn't, a rendering engine can have multiple rendering pathways optimized further for mobiles stripping out certain things which might not be noticable to the naked eye, also there are common tricks to optimize further on mobile unlike PC(why bother to optimize for so much for PC when it runs the same performance with 7000 settlers or 400 in my case), on the PC its rendering according

[2015-04-20 16:32] andreas-eberle opened #42 "MiniMap is blurred horizontally."
The movables and border positions are blurred horizontally on the minimap in the current master (commit 0859c97371337fb3186bbf2bf700915fac81e5d3). See the following image:

![unbenannt](https://cloud.githubusercontent.com/assets/9267365/7234996/7e8a8ae0-e78b-11e4-9460-44b801a14241.PNG)

[2015-04-20 17:38] daviddawson commented on #33
Great, I'll work with Adam to prepare a PR. I'm travelling for the next few days and will get to this on friday/ saturday.

Very excited to revisit settlers again :-). Thanks for the project.

[2015-04-20 17:38] #4 closed

[2015-04-20 17:38] andreas-eberle commented on #4
Thanks for the changes!

[2015-04-20 21:23] justangel commented on #4
Thanks for the project of my favorite part of the game

[2015-04-21 13:08] #42 closed

[2015-04-21 17:18] michaelzangl commented on #39
labels_en_US.properties is in English now.

[2015-04-21 17:18] #39 closed

[2015-04-21 18:01] andreas-eberle opened #44 "Update JOGL jars."
On Linux there can be trouble with the current version of the JOGL jars and on my Mac, I can only see artefacts of the graphics buffer showing flickering parts of other applications.

[2015-04-22 16:10] #8 closed

[2015-04-22 16:20] #38 closed

[2015-04-22 16:27] andreas-eberle commented on #19
I close this, as #8 has been implemented.

[2015-04-22 16:27] #19 closed

[2015-04-22 17:44] #41 closed

[2015-04-22 17:49] andreas-eberle opened #46 "Building selection state is not reset when movables are selected"
When you select a building to construct in the menu, the building construction marks are displayed (red and green dots). When now selecting some movables, the building construction is not canceld, but the movables are selected and the list of selected movables is displayed.

Expected behaviour: The building creation should be canceld (so that the construction marks are removed) and the selected mo

[2015-04-22 18:04] andreas-eberle opened #47 "When pioneers divide a partition, the bigger partition seems to be relabeled"
This behavior causes performance issues, as it takes many calculations to relabel a big partition. As pioneers can cause this frequently, this can cause continous performance penalties.

[2015-04-22 18:06] andreas-eberle opened #48 "Building in construction that are divided and reunited from their main partition aren't finished"

[2015-04-22 21:51] #47 closed

[2015-04-23 08:33] andreas-eberle opened #49 "Movables going somewhere for working, do not check if the target is still reachable"
Movables like bearers must check if the target is still reachable during there way to the target. If the target is not reachable any more, the task must be cancelled.

[2015-04-23 10:18] Fantu opened #50 "small string error in english"
I found a small string error in english:
big tmeple
that should be:
big temple

there are also other strings strange probably to improve

about translation project in trasifex probably can be good add a refer about it somewhere:
https://www.transifex.com/projects/p/settlers3-remake/
anyone can use it and should make easier and faster translation in any languages, from web, without programming expe

[2015-04-23 15:32] andreas-eberle commented on #50
Hi Fantu,

how is the work with transifex exactly? I joined your project there to translate our settlers 3 remake and was already able to change some buggy labels. But how are the changes propagated back into this repository?

Furthermore, do you, as project maintainer, have an easy way to download all the labels files with their proper naming? I was only able to download the files one by one and

[2015-04-23 16:41] Fantu commented on #50
Thanks for your reply.
About transifex:
I can't do same name in transifex for resources and mapcreator files because have same name (label_<language>.properties)
For now download/upload is manual but is possible automatize it with client and scripts with api.
For example this for another project:
https://bitbucket.org/Swyter/warband-acok-l10n/src
with settlers should be easier because conversion i

[2015-04-23 20:33] #49 closed

[2015-04-23 20:35] andreas-eberle commented on #48
Seems fixed by the last changes regarding tickets #47 and #49.

[2015-04-23 20:35] #48 closed

[2015-04-24 10:39] #32 closed

[2015-04-25 13:09] andreas-eberle opened #52 "Missing Animations"
In the following I will list movables with missing animations. I will extend the list with further findings. Feel free to post you additions.

@michaelzangl: can you write a wiki post, explaining how animations can be found and added?

* PIG_FARMER:
  * Taking
  * Dropping
  * WATER
  * CROP
  * PIG
* SMITH
  * Taking
  * Dropping
* BEARERS
  * Taking/Dropping
    * GOLD_ORE
    * COAL

[2015-04-25 14:40] Fantu commented on #50
another small writing mistake:
"big living house," should be "big living house"

[2015-04-25 17:34] Fantu opened #53 "If automatic locale search fails show english as default instead nothing"
I did some test of build from master, I saw that automatically search locales, it loaded partial italian I did but don't show english for strings missed (for this probably I can found a workaround with transifex)
Another bigger problem if when not found rispective locales where don't show all strings, I think is good use english as default if not found locale.

[2015-04-26 08:22] #44 closed

[2015-04-26 08:57] xjohnson21 opened #55 "Can't get game to start"
Windows 8.1
java version "1.8.0_45"
Java(TM) SE Runtime Environment (build 1.8.0_45-b14)
Java HotSpot(TM) Client VM (build 25.45-b02, mixed mode)

I downloaded 'JSettlers_v0.1.1-alpha.zip' and 'JSettlers_v0.1.1-alpha.tar.bz2'
I  unzipped them into the same folder on my desktop 'C:\Users\xjohnson21\Desktop\Settlers'
I edited config.prp to say 'settlers-folder=C:\BlueByte\S3AmazonenDemo' This is whe

[2015-04-26 11:16] andreas-eberle opened #56 "Selecting an Open Source License"
Currently our settlers-remake has no open source license yet. After having a look at the pros and cons of some licenses, @michaelzangl and I propose the MIT License.

@stumpdk @adamjryan @justangel: You already contributed to this project, so we want to ask you if that's ok for you, so that we can set the license. Can you please post your opinion in this ticket?

[2015-04-26 11:19] daviddawson commented on #56
:+1:

[2015-04-26 11:22] andreas-eberle commented on #55
Please change the settlers-folder path in the config.prp file to use slashes instead of backslashes (/ instead of \).

If this doesn't help, try to start the game from the command line. To do this, start the command line switch to the folder with the JSettlers.jar file in it (by using cd) and execute

`java -jar JSettlers.jar --console-output`

What is the result you get?

Best regards,
Andreas

[2015-04-26 11:50] justangel commented on #56
ok

[2015-04-26 14:17] adamjryan commented on #56
That's fine with me.

[2015-04-26 20:47] stumpdk commented on #56
It's perfectly fine with me.

[2015-04-26 20:53] stumpdk commented on #52
Many working movables have a small moment when they change state, in which they turn into ordinary carrieres, until the new state. For example just after a saw workers dropping state.

[2015-04-27 12:34] #18 closed

[2015-04-27 12:48] andreas-eberle opened #58 "Danish locale naming dk_DK instead of da_DK"
@stumpdk: You named the danish locale file "labels_dk_DK.properties". However, in the list of [supported locales of JAVA 8](http://www.oracle.com/technetwork/java/javase/java8locales-2095355.html), the danish locale is specified as da_DK.

What is the exact locale of your system? Would it work for you to change the file nameing to "labels_da_DK.properties"?

[2015-04-27 14:07] Fantu commented on #58
Or probably is better only "da" for support any danish in each country they are...

[2015-04-27 16:21] xjohnson21 commented on #55
I tried the variations with the slashes 'settlers-folder=C:/BlueByte/S3AmazonenDemo' with the same result

I tried to start from the command line and got a "file could not run" error

Again I don't know much about Java or things like this

After some Googling I created a .bat file to launch the .jar file
@echo off
title y
start java -jar "C:\Users\xjohnson21\Desktop\Settlers\JSettlers.jar" %1

Tha

[2015-04-28 09:23] namelessjames opened #59 "Movables sometimes get stuck"
In this example, carriers sometimes get stuck between a building or build site and a stone resource object after for example delivering a resource for building. Unfortunately, this is very hard to reproduce. As far as i know, this has always been an issue on the original game as well, though there was no other solution as to delete the building or even restart the game (when settlers got stuck on

[2015-04-28 11:29] namelessjames opened #60 "Glitch: Ground Texture at extreme levels"
Texture can not decide whether it is rock or grass or dirt ;)
I suppose, that the upper marked glitch is not really a glitch, more a problem of zooming and level of detail?

![untitled-1](https://cloud.githubusercontent.com/assets/858474/7368647/7cb50cc0-edaa-11e4-8ea9-6c8181d9de4f.jpg)

[2015-04-28 11:32] namelessjames opened #61 "Gold Smelter not producing Gold Ingots"
Currently, the gold smelter is carrying the gold ore around the house to finally disappear inside with it. I don't wanna know what he's doing in there.

[2015-04-28 11:35] namelessjames commented on #60
![untitled-1](https://cloud.githubusercontent.com/assets/858474/7368726/5eb2bb90-edab-11e4-8b0a-594995e17ba9.jpg)

[2015-04-28 11:56] andreas-eberle commented on #59
Are you sure that the movables are really stuck? Did you try to get this settler some work? I guess if he gets work, e.g. when you build some buildings, so that all settlers need to carry something, he will move and not be "stuck" any more.

Unfortunately, I cannot see the stuck settler on your screenshot. Can you append a screenshot where I can see that settler? You could also send me an email wi

[2015-04-28 12:33] michaelzangl commented on #60
This is not a background problem, but a ground type problem: No flattened ground may be next to a river or a mountain (border). We should not allow to build that close to rivers/mountains (or at least to change the height and landscape when building there).

The upper marking in your first image is not a glitcht, that is what a mountain border looks like when it its a straight line.

[2015-04-28 13:38] #55 closed

[2015-04-28 13:39] xjohnson21 commented on #55
I think this is a problem on my end. I'm going to check back at later time to see how you progress.

I'm really excited about this project, Settlers 3 was my favorite game ever!

[2015-04-28 13:51] andreas-eberle commented on #55
Hi @xjohnson21,

did you try the newest release? With the newest release, you should not create a config.pp / delete the existing one and directly start the game. A dialog should then pop up and ask you to select the folder of the original Settlers III installation. Does this work?

[2015-04-28 14:46] namelessjames commented on #59
Hi @andreas-eberle
acutally, it currently seems as if I was just assuming that those settlers where stuck because they where moving back and forth. This is then not a bug, it is a feature request to improve the movement so that one does not assume that a settler is being stuck :smile:

[2015-04-28 14:48] namelessjames opened #62 "Winery is not being built"
Currently, a winery is not being built. Maybe even the ground is not being paved correctly? Tried several maps, not working for me. Console-output following (if there is any usable).

![untitled-1](https://cloud.githubusercontent.com/assets/858474/7372287/339490d0-edc6-11e4-941b-679c01f4a0a4.jpg)

[2015-04-28 14:51] andreas-eberle commented on #62
The winery hasn't been implemented yet... however, it's already in the menu... the temples and the storage building are also missing. => I mark this as improvement to add the missing building.

[2015-04-28 14:59] namelessjames commented on #62
Alright, sorry then. In general: is it alright to mark those missing things as issue?

[2015-04-28 17:14] andreas-eberle commented on #62
Well, that's a good question for a project with a lot of missing features... I guess it's ok to report the missing buildings, so we can focus on implementing them. But I wouldn't create 200 issues for missing features at once, as this kills motivation and the usage of the queue to (also) handle bugs.

[2015-04-28 17:18] namelessjames commented on #62
Okay, yes, fair enough! Alright then! I don't want any motivation killers. As much as I would love to contribute to the code itself, unfortunately I only can play and test - no Java knowledge here. You guys do an awesome job :heart_eyes:

[2015-04-28 17:49] #61 closed

[2015-04-28 17:52] andreas-eberle commented on #52
Can you list the movables with this issue? Is this still the case with the current code (I made an improvement to reduce this times...)

[2015-04-28 17:56] andreas-eberle commented on #60
Michael is right, this needs to be fixed in the game logic when calculating the possible positions of a building.

[2015-04-28 17:57] andreas-eberle commented on #62
Nevertheless, many thanks for playing the game and searching bugs!

[2015-04-28 20:32] michaelzangl commented on #56
I added a MIT license note to all java source files (and some properties).

[2015-04-28 20:32] #56 closed

[2015-05-02 17:00] adamjryan commented on #52
I think my submission [Worker drop animation correction] addresses this.

[2015-05-03 09:59] nevson opened #67 "Prefer platform-independent file paths"
Hi, when running jsettlers directly under windows it fails finding the gfx and sound folder due to invalid path joining, [see here](https://github.com/jsettlers/settlers-remake/blob/48fe9246f77bbf2d823a79e6715c63201f464278/jsettlers.graphics.swing/src/jsettlers/graphics/swing/resources/ConfigurationPropertiesFile.java#L71). It creates a file paths which are looking like `C\:\\...\\JSettlers/Gfx` s

[2015-05-03 16:31] andreas-eberle commented on #67
Hi @nevson,

in general you're right. However, afaik Android does not support / provide the Path class and most of the other java nio stuff. So when changing to the Path classes, we need to ensure that the game logic, which is shared between the Android and other OS' version, does not contain the Java nio code.

[2015-05-03 21:35] adamjryan commented on #59
#68 addresses this.

[2015-05-04 09:42] justangel commented on #52
I started to work on the transfer of all available animations here https://github.com/jsettlers/settlers-remake/pull/69 has found and corrected several errors, typos. I try to scrutinize the issue, but no one is immune from typos =) so the comments in the code that might raise questions, I hope my English is not too bad =)

[2015-05-04 10:01] andreas-eberle commented on #62
I started work on this in #70

[2015-05-04 10:45] nevson commented on #67
@andreas-eberle Oh ok, didn't know that Android is so far behind regarding the nio stuff. Maybe you could polyfill parts of `Paths`/`Path` and `Files` class so that once they're available you can easily switch to them? E.g.:

[code]

But anyhow it'd be great if at least the issue with Windows caused by [this line](https://github.com/jsettlers/settlers-remake/blob/48fe9246f77bbf2d823a79e6715c63201f

[2015-05-04 15:11] andreas-eberle opened #71 "Movable animations with inverse order needed"
Some movables, for example the farmer, do not have dedicated animations for taking and dropping materials. Therefore the take animation needs to be played in the inverse order to be used as drop animation.

[2015-05-04 16:23] andreas-eberle opened #72 "Rework take / drop animation cycle"
### Current situation:
Movables can "take" or "drop" a material. During this process either the "TAKE" or "DROP" animation is played.

### Problem with current solution
When taking or dropping something, the movable should do the following steps:
* "bend down"
* change the material type accordingly and
* "raise up" again.

However, the current solution can only display a TAKE animaition or a DROP

[2015-05-04 16:24] andreas-eberle commented on #71
Further discussions showed a bigger change is needed here. I'm closing this in favor of issue #72.

[2015-05-04 16:24] #71 closed

[2015-05-04 16:55] #62 closed

[2015-05-04 16:56] justangel commented on #72
glad to hear it, because really it is necessary!
about animation is not always just DROP, sometimes there is only TAKE, as can be seen from this commit
https://github.com/justangel/settlers-remake/commit/8aa1a10202669a13d6cd92690064e03a2700f9a0
LUMBERJACK don't have DROP animation, i checked it recently... maybe when I finish studying all the files of the original game, then I find additional anim

[2015-05-04 16:57] justangel commented on #71
ok, thanks a lot

[2015-05-04 17:11] #58 closed

[2015-05-04 17:12] #50 closed

[2015-05-04 17:33] andreas-eberle commented on #72
I opened the branch [enhancement_take_drop_animation](https://github.com/jsettlers/settlers-remake/tree/enhancement_take_drop_animation).

[2015-05-05 09:26] andreas-eberle commented on #53
@Fantu: your right. I reopen the ticket. My fault.

[2015-05-05 12:55] #72 closed

[2015-05-05 14:32] andreas-eberle commented on #67
@nevson: I just had a closer look at your first post again. I think there are some misunderstandings.

* You say `C\:\\...\\JSettlers/Gfx` would be an invalid path due to invalid path joining. That's not correct. Java supports mixing up backslahes and slashes in a path. So that's no issue here.
* You seem to have configured `settlers-folder` with the path to your JSettlers installation. However, t

[2015-05-05 14:47] nevson commented on #67
@andreas-eberle Sorry for the confusion. I've manually copied the gfx folder into the JSettlers folder so that it exists there.

Mhh I see, `C\:\\...\\JSettlers/Gfx` would have been a valid path. Then I'm wondering why it didn't work on my machine (Win7 64bit). I'm 100% positive that while debugging `new File(gfxFolder, "siedler3_00.7c003e01f.dat").exists()` returned always false. Then I've locall

[2015-05-06 14:54] andreas-eberle opened #75 "Positions with landscape type EARTH are never switching back to GRASS"
Positions that are changed from GRASS to EARTH (e.g. by farmer or winegrower) never turn back into GRASS.

[2015-05-06 16:24] justangel commented on #75
I agree

[2015-05-07 19:30] #75 closed

[2015-05-08 12:14] jeancdc opened #76 "SettlersDirectoryException on Mac OS X"
Hi,

I can't execute the JSettlers.jar. I've got the following message:
[code]

I'm under Mac OS X 10.10 Yosemite. My version of Java is 1.8.0_25-b17.

I've installed the original game with Wine.

Could you see ? Thanks.

[2015-05-08 12:23] justangel commented on #76
in your dir /Users/jeancreuzedeschatelliers/JSettlers/Siedler3
you needed to put folders SND and GFX from original game, eg gold edition ver.1.60

[2015-05-08 12:38] jeancdc commented on #76
Yes, they are already in this folder...

[2015-05-08 13:16] jeancdc commented on #76
OK, I installed the game on a PC, updated it to version 1.60 and copy the Gfx and Sfx folders from my installed dir into my /Users/jeancreuzedeschatelliers/JSettlers/Siedler3 dir. And it works!

[2015-05-08 13:17] #76 closed

[2015-05-08 16:54] andreas-eberle opened #77 "Settlers don't flee to own ground when their ground is captured"

[2015-05-09 04:56] justangel commented on #77
and they have to take damage until they run up to its territory, someone can not reach and die

[2015-05-09 07:38] justangel opened #78 "build.ant is broken"
[javac] G:\JSettlers\jsettlers.logic\src\jsettlers\logic\buildings\others\TempleBuilding.java:75: error: cannot access IStackSizeSupplier
    [javac]             super.getGrid().getMapObjectsManager().addWineBowl(super.getDoor(), getWineStack());
    [javac]                                                   ^
    [javac]   class file for IStackSizeSupplier not found
    [javac] 1 error

BUILD FAIL

[2015-05-09 07:57] nevson commented on #67
@andreas-eberle Not sure why but on my system Java seems to be sensible against slashes vs backslashes :( So `C:\...\settlers-demo/gfx` won't work but `C:\...\settlers-demo\gfx` works. Following patched helped in my case
[code]
This should also work on Android, Linux, ... etc. Btw. I'm using jdk1.8.0_45 (32-bit) on Win7

Regarding the different gfx file names. Can you confirm that they've changed

[2015-05-09 14:05] andreas-eberle commented on #78
I cannot reproduce this. Furthermore, Travis is fine. Maybe you're missing the file on your system?
@michaelzangl: Can you reproduce this?

[2015-05-09 14:22] andreas-eberle opened #79 "Grafics files have different naming in Amazones demo"
In the Settlers III Gold Edition, there exist grafics files with the following naming schemes:
* `XX.7c003e01f.dat`
* `XX.f8007e01f.dat`

In the Settlers III Amazones Demo however, only the `XX.f8007e01f.dat` scheme is present.

As the game checks for the existens of the file `siedler3_00.7c003e01f.dat`, the grafics files of the demo cannot be used.

[2015-05-09 14:23] andreas-eberle commented on #67
Do you only have a 32bit JVM or also a 32bit Win7 installation? If you have a 64bit Win7, please try to run the code with a 64bit JVM.
Anyway, it's very strange, as I also have a Win7 and JDK8. The only difference I can see is that I have both as 64bit versions.

Regarding the different naming of the grafics files: I can confirm this and openend #79.

[2015-05-09 15:27] nevson commented on #67
I've installed now also the 64bit version and suddenly it accepts the paths with slashes :/ Most surprisingly if I switch now back to 32bit then it also accetps the slashes... maybe I've now some weired system configuration. But I think it would be safer to use the variant with the `File.seperator`.

[2015-05-09 15:30] nevson commented on #79
When loading the gfx files with the `XX.f8007e01f.dat` scheme I get the following errors

[code]

[2015-05-09 15:44] nevson commented on #67
Nope, I've to correct my last comment. To make sure that my local build is not the reason for this behavior I've downloaded the latest release and tested it with that. There I get the same error again

[code]

[2015-05-09 16:12] michaelzangl commented on #79
Now guess why that other file is required ;-).

We currently can only parse the 7c003e01f.dat files.

[2015-05-09 17:11] justangel commented on #78
Hmm, strange, OK, I'll take more research, if will not work, I'll try through Travis

[2015-05-09 21:00] justangel commented on #78
downloaded the repository to a different folder, launched build.ant and everything is OK

p.s.
compare directories, much different, strange, nothing there to edit, for that, I have another copy in another folder

[2015-05-09 21:00] #78 closed

[2015-05-11 15:18] andreas-eberle opened #80 "Pushing routine can unschedule movables from timer"
Movables can be unschedule by the pushing routine in the following case:

A newly created movable (fresh from living house) has no action yet within its strategy. As its position is protected, a path is calculated to leave the protected ground. When trying to follow this path, another movable must block the new movable and respond with `true` to the push() method (meaning it will leave this positi

[2015-05-11 15:39] #80 closed

[2015-05-18 09:44] #59 closed

[2015-05-18 15:58] andreas-eberle opened #83 "Soldiers not following move to command when blocked one's are in the selection"
If a soldier is in the set which cannot move to any of the target positions, none or only a part of the selected soldiers move to the target position.

[2015-05-18 15:59] #83 closed

[2015-06-03 18:15] codingberlin opened #92 "Can't click anything on OSX (Retina Display)"
OS: OSX 10.10.3 (Retina Display)
JSettlers Version: 4399793
Java Version: 1.8.0_45
Logfiles: no log dir was created in resources dir
Issue:
When I open JSettlers.jar I can see the Main Screen. When I click at "neues Einzelspeil" button, any other button or anywhere in the Main Screen then the "Netzwerkspiel beitreten" Button is displayed as pressed and nothing happens anymore.

![bildschirmfoto 20

[2015-06-03 18:18] codingberlin commented on #92
When I run Settlers.Jar in Terminal I get the following output (I clicked at "neues Einzelspiel" as described in the issue)

[code]

[2015-06-03 18:31] codingberlin commented on #92
Same console output with
[code]

[2015-06-03 20:51] codingberlin commented on #92
I checked out the code and debugged it.
The calculation of the click position of the mouse needs to be adopted for Retina displays.

[2015-06-04 06:32] codingberlin commented on #92
Found out that in the class GOSwingEventConverter a factor of 2 would fix the problem on my machine (for the start screen and in-game - where I noticed the problem, too):
[code]
Unfortunately I guess it would break all other non Retina displays.
I don't know how to detect if the factor is needed or if another factor is needed in future when even more sharper displays are invented.

Any ideas?

[2015-06-04 07:46] namelessjames commented on #92
Maybe something like that will work:
[code]
http://stackoverflow.com/questions/20767708/how-do-you-detect-a-retina-display-in-java

[2015-06-05 05:45] codingberlin commented on #92
@namelessjames thanks for the link. This was a good starting point.
I figured out that I need some additional code to cover usage of multiple monitors when one is retina and another is not and you move the JFrame around.

I just forked the repo and will investigate some more effort soon and then send a pull request.

[2015-06-05 19:58] codingberlin commented on #92
See #93

[2015-06-10 17:47] andreas-eberle opened #95 "Replace default cursor with the cursor of the original Settlers III"
## Idea

It would be nice to have the original cursors available in the Swing UI.

## A First Simple Implementation
A first implementation could be to add the following code to the end of the SwingManagedJSettlers.startJogl() method.

[code]

However, this makes it impossible to changed the cursor depending on what the user is doing. E.g. when the user is scrolling over the map, the cursor changes

[2015-06-10 20:15] michaelzangl opened #96 "Ground that can not be changed leads to invalid ground borders."
Place a tower on grass, draw water around it, and there will be no beach.

[2015-06-10 20:17] michaelzangl commented on #95
We already have a tooltip-API (UIPanel#getDescription(x, y)). We could simply change the return type of the tooltip from String to a (String, ECursorType)-tuple.

[2015-06-10 21:57] #53 closed

[2015-06-11 07:22] michaelzangl commented on #46
Fixed in b7436fa6fe60d4d94e5ef4e4b63c5010048fad5b

[2015-06-11 07:22] #46 closed

[2015-06-11 08:30] michaelzangl commented on #79
Added the ability to (automatically) use the other dat files in b33508b90d7180834f874496682e16ac24d3834d

[2015-06-11 08:30] #79 closed

[2015-06-11 13:03] andreas-eberle opened #99 "Android seems to not localize correctly"
Via a comment on the project website (see http://www.settlers-android-clone.com/jsettlers-is-open-source-first-alpha-released/#comment-15381), I've been told there would be localization issues on Android. Can anyone confirm this?

[2015-06-11 13:11] andreas-eberle commented on #95
Well, but the cursor image does not only depend on the position, but also on the current "mouse action". For example, when scrolling over the map, the cursor image changes as soon, as the user holds the right mouse button pressed. Would this be manageable in this method?

Or should we rather subscribe to the mouse events somewhere else?

[2015-06-11 15:52] andreas-eberle opened #100 "Construction state cannot be canceld"
After selecting a building in the construction menu, the construction state is entered and the building can be placed on the map. However, it is not longer possible to exit this state with a click on the right mouse button.

[2015-06-11 15:55] andreas-eberle opened #101 "Selected people are not deselected when entering construction state"
Ways to reproduce:

* Select some soldiers
* Click on a building in the construction menu.

Then the soldiers are still selected and can still be moved around with a click on the right mouse button.

[2015-06-11 16:00] andreas-eberle opened #102 "Construction state is left even if the building could not be placed on the target position"
Steps to reproduce:
- Select a building to construct in the construction menu.
- Tap on a location, where this building cannot be build.

Now the construction state is left, but no building is constructed. This makes it necessary to selected the building in the menu again.

Furthermore: in the Swing UI, we do not leave the construction state, when a building has been placed. Shouldn't it be the sa

[2015-06-11 16:16] andreas-eberle commented on #95
The two most important cursors are:
* The standard cursor: EImageLinkType.SETTLER, 2, 20, 0)
* The scroll cursor (used when right mouse button is pressed to scroll the map): EImageLinkType.SETTLER, 2, 20, 2)

[2015-06-11 16:16] andreas-eberle commented on #67
I close this, as it seems fixed.

[2015-06-11 16:16] #67 closed

[2015-06-11 22:46] justangel commented on #100
I confirm, you can exit only by pressing ESC

[2015-06-11 22:52] justangel commented on #95
EImageLinkType.SETTLER, 2, 20, 1) If selected soldiers and the cursor is over enemy targets: units/buildings

[2015-06-11 22:56] justangel commented on #95
EImageLinkType.SETTLER, 2, 20, 6) while saving the game, switching between menus, etc.

[2015-06-11 23:03] adamjryan commented on #95
How about a solution much like the one for the side panel's content pane. There would be a cursor event that panels can raise and they all go to a single handler which decides what state the mouse cursor should be in. It would sit at a high enough level that it has access to the root panels and mouse listeners. It should then have all the information needed to determine the correct state and the l

[2015-06-11 23:35] adamjryan opened #103 "Declarative layouts?"
Some elements of the game such as the main menus and in game control panels could be much better defined using a declarative approach, it would also allow people to contribute without becoming too involved with the code.
Are there any libraries available to do this in JOGL?
..or would it interest anyone to make a simple parser to relfectively set some objects that are added to the screen using a l

[2015-06-12 18:32] justangel commented on #99
I confirm the problem of localization (all in German)
checked on the device: WEXLER-TAB-7iS (Android 4.1.1)

[2015-06-12 21:19] adamjryan opened #104 "Java 8"
Would it be feasible to move to the Java 8 JDK? Some of the new features like lambdas allow much more concise code. The only potential hitch may be Android support.

[2015-06-12 21:26] daviddawson commented on #104
There's always an alternate jvm language, for example groovy or kotlin, that has broader VM version support.

[2015-06-14 19:26] andreas-eberle commented on #104
With JDK8, the issue really is the compatibility with Android. However, to be able to use lambda expressions (which I also would like to do), we could try to use [retrolambda](https://github.com/orfjackal/retrolambda#getting-started). I haven't worked with it, but it seems to work for Android. Maybe someone wants to test this. Probably it would be easiest if we have the gradle build environment fi

[2015-06-15 09:42] andreas-eberle opened #105 "Provide offer stacks of buildings to UI"

[2015-06-15 09:42] andreas-eberle opened #106 "Display (request and offer) stacks of buildings in Swing UI"
This depends on #105.

[2015-06-15 10:24] michaelzangl commented on #105
Android already has this.

[2015-06-15 10:25] michaelzangl commented on #106
Android already displays request stacks.

[2015-06-15 13:29] andreas-eberle opened #107 "Saving a map crashes on Android"

[2015-06-15 14:15] andreas-eberle commented on #107
Stack trace from logcat:

[code]

[2015-06-15 14:39] #107 closed

[2015-06-15 14:44] andreas-eberle opened #108 "Savegame lists are not refreshing"
Ways to reproduce:

* Start a new single player game
* Save the game
* Leave the game to the menu (in SwingUI by using "q" key, on Android by pressing the return button)
* Select the "load game" menu item.
* Now the new savegame will not be shown in the list of savegames.

If you restart the game / app, you will find the new savegame in the list of savegames.

[2015-06-15 14:47] andreas-eberle opened #109 "Cannot load savegame on Android"
Ways to reproduce:

* Start a new single player game.
* Save the game
* Quit the game and close the App (this is because of #108)
* Select the "load game" menu item.
* Select the savegame created before and press "load savegame".

Now nothing happens. However, logcat shows:

[code]

This could indicate, that the game was actually started in the background, but the UI does not show it.

[2015-06-17 14:06] michaelzangl opened #111 "Offer stacks are displayed during building construction phase."

[2015-06-17 16:36] #111 closed

[2015-06-17 17:09] andreas-eberle commented on #105
Finished implementation of this in #110.

[2015-06-17 17:09] #105 closed

[2015-06-17 22:03] Jayflux opened #113 "a port to browser / WebGL?"
Hey guys, i know this isn't the most appropriate place to put this, but I couldn't find a contact email.
How feasible would it be to have a version running in the browser using WebGL? (I know its a lot of work, just wondering if its possible)

Cheers

[2015-06-18 06:04] michaelzangl commented on #113
Hi. In theory, it would be possible. But a browser is unable to run java code, so you need to rewrite a lot of code. This is why we won't be supporting WebGL.

[2015-06-18 06:04] #113 closed

[2015-06-18 07:45] #100 closed

[2015-06-18 07:45] #101 closed

[2015-06-18 07:45] #103 closed

[2015-06-18 07:49] #106 closed

[2015-06-18 09:48] Jayflux commented on #113
Thanks @michaelzangl
Do you guys have some channel/method you communicate across? I had some questions about the development of the game.

Was also interested in making a WebGL port (which may prove too ambitious), but would need some help from you guys.

[2015-06-18 10:01] daviddawson commented on #113
For porting to run in a web context, you would be best to investigate GWT (http://www.gwtproject.org/).

This has plenty of decent webgl bindings and would provide the best route to porting to run on in a browser.

The settlers code is fairly well modularised, with the graphics in isolated modules (to support android).

Not everything in Java is supported in GWT, notably standard Threads are not.

[2015-06-18 12:57] andreas-eberle opened #115 "Stacks of buildings are sometimes not refreshing"
Steps to reproduce:

* Start a new single player game
* Place a big living house on the map.
* Select the construction site, you see it requires 15 planks and 24 stones
* Press F12 before any bearer delivers a material to the construction site.

Now you will see that the numbers of required materials haven't changed,although material has been delivered to the construction site.

If you now deselec

[2015-06-18 21:28] michaelzangl opened #117 "Show global and partiton building count in construction tooltip"
The tooltip should look like:

[2015-06-19 19:15] michaelzangl opened #118 "Building deselected when destruction/work area dialog opens."
Should not happen

[2015-06-20 11:07] #115 closed

[2015-06-20 11:07] #118 closed

[2015-06-20 11:11] michaelzangl opened #119 "Digger blade take animation is played twice."
... when a bearer is converted to a digger.

[2015-06-20 11:12] michaelzangl commented on #119
Same for many drop animations for bearers.

[2015-06-20 11:23] michaelzangl opened #120 "It should be impossible to run out of bearers."
We should add a minimum amount of bearers - a changeable percentage - to prevent the user from running out of bearers. No matter what that value is, there should always be at least one bearer.

[2015-06-20 11:26] michaelzangl commented on #92
#93 is merged

[2015-06-20 11:26] #92 closed

[2015-06-20 13:30] andreas-eberle commented on #119
This is simply because the take drop animations aren't correct yet. This should be fixed with PR #69.

[2015-06-20 13:37] Jayflux opened #121 "I can't run this on windows 7 (hanging white screen)"
the JSettlers and MapCreator files look like compressed folders and they won't run.
Is there a way to run these Jar files?

If java is a prerequisite it might be worth mentioning it.
Re-installing the JRE now

Now it just hangs with a white screen
http://i.imgur.com/5C2RTrx.jpg

[2015-06-20 17:35] andreas-eberle commented on #121
Hi Jayflux,

yes, Java is a prerequisite and yes, it should be mentioned. Thanks for the hint.

Regarding the white screen: Can you try to run JSettlers from the command line? Please follow these steps:

* Open command line (type `cmd` into the search field of the Windows start menu and hit the Enter key).
* Change the directory to the one containing the JSettlers.jar file (type `cd <PathToTheJSet

[2015-06-20 19:13] #119 closed

[2015-06-21 14:20] Jayflux commented on #121
Seems to work when i run it from the command line
[code]

[2015-06-21 17:50] andreas-eberle commented on #121
Strange... can you try to start it directly (no console), again? Does it start now? Or do you have the same issue? If the issue still persists:

* What program is used to "open" the JSettlers.jar file? (Right click on the JSettlers.jar file, go to "open with" and what's written there on the top position of the list?)
* Does your PATH variable contain the path to your Java installation?

[2015-06-22 10:22] andreas-eberle commented on #117
The logic has been implemented in #124. The UI can be implemented now.

[2015-06-22 13:15] andreas-eberle commented on #52
Should be finished now with the merge of #69.

[2015-06-22 13:15] #52 closed

[2015-06-25 20:13] aligator opened #126 "When joining a new multiplayer-game, the scrollbar doesn't work"
When joining a new multiplayer-game, the scrollbar on the right side doesn't work
And scrolling with the mouse wheel would be great...

[2015-06-28 12:43] andreas-eberle opened #127 "It is not possible to see the lower left corner of the map"
When trying to scroll to the lower left corner of the map, you cannot really reach it. It seems like the SwingUI menu covers the area where the lower left corner is rendered.

[2015-06-29 12:07] michaelzangl opened #128 "Selecting an other building hides construction marks."
Android:
Choose building to be built.
Choose an other building instead (without pressing on the map).

Construction marks are hidden.

[2015-06-29 21:17] justangel commented on #128
the names of buildings for example?

[2015-07-04 18:06] codingberlin opened #129 ""Netzwerkspiel betreten" is always empty list"
How to reproduce on todays master:
Open with one JSettlers a network game and try to join with another JSettlers instance the game by clicking the "Netzwerkspiel beitreten" button.
The Bug is, that no open network games were shown.

What I found out so far:
In the joining client the Method receivePacket() is called with the parameter ArrayOfMatchInfosPacket packet which getMatches().length is grea

[2015-07-05 08:26] andreas-eberle commented on #129
I checked the server list on Android and there it works. Therefore I guess it really is a bug of the SwingUI.

[2015-07-16 07:07] codingberlin commented on #129
Maybe I have another hint. I clicked a bit around in Git history and found this commit, wehre code was removed which dealt with the getJoinableMultiplayerGames list:
https://github.com/jsettlers/settlers-remake/commit/c3a6f6c0fa0c493309b22a7edc9091886b2e3491#diff-e1dcda68fa562910357c603fe355fca9L76

Unfortunately I crushed my eclipse and can't start it at the moment so I'm unable to test if adding

[2015-07-16 19:50] codingberlin commented on #129
I was able to start JSettlers in IntelliJ and was able to verify: the above shown code will show the joinable game list.
Could you please take a look at this?

[2015-07-19 10:11] andreas-eberle commented on #129
@michaelzangl: Can you have a look at this?

[2015-08-03 09:42] andreas-eberle opened #130 "Minimap should display towers when "military people" are selected"
On the left side of the minimap, you can select which type of people should be displayed on the minimap. The default value currently is "soldiers"/"mitlitary people". In this case, towers / manned towers should also be displayed. This enables the player to really see all soldiers on the minimap.

[2015-08-07 13:08] codingberlin commented on #129
Is there something else I could do to support the solution of this issue?

[2015-08-09 09:01] andreas-eberle opened #131 "Dedicated server sometimes keeps orphaned matches in the open machtes list."

[2015-08-09 09:03] #129 closed

[2015-08-09 09:05] andreas-eberle commented on #129
@codingberlin: Many thanks for your help. You found the correct code lines. You should really get your Eclipse working again, we need good guys like you ;)
(And sorry for the delay, I hoped Michael could fix it, but he has very little time at the moment.)

[2015-08-09 09:07] andreas-eberle commented on #121
Hi @Jayflux: Any news here? Does it still only run from the command line?

[2015-08-09 15:37] #108 closed

[2015-08-16 06:26] codingberlin opened #134 "Can not create or join Multiplayer Game in Swing"
With the current master, when I run SwingManagedJSettlers and click the Button "neues Netzwerkspiel", choose a map and click the Button "Erstellen", then I get an Exception:
<img width="1200" alt="bildschirmfoto 2015-08-16 um 08 08 59" src="https://cloud.githubusercontent.com/assets/6422616/9292282/2d913132-43ef-11e5-9d70-cf525d8fdb02.png">
[code]

By the way:
When I checkout the master and start

[2015-08-16 06:29] codingberlin commented on #134
Besides the reason why I open this issue and the last one ( #129 ) is, that I need to run the network games to verify my fork "computerplayer" ( https://github.com/codingberlin/settlers-remake/tree/computerplayer ) in the network before I pull request it.

[2015-08-20 14:23] andreas-eberle commented on #134
Hi @codingberlin: I will have a look, why the selection of the settlers folder crashed... However, your resources-folder path is slightly wrong. If you checked out the git repo as it is and start the SwingManagedJSettlers.main(), the config.prp in the folder "jsettlers.main.swing" should have the following entry:

```resources-folder=../jsettlers.common/resources/```

(Notice the `../`).

Does thi

[2015-08-25 11:50] codingberlin commented on #134
my settlers-remake/jsettlers.main.swing/config.prp has the content
[code]

My settlers-remake/config.prp will be created by starting JSettlers after choosing the settlers3 dir with the following content:
[code]
Then the game crashes. When I modify the settlers-remake/config.prp with the following content, the game starts. ... later it crashes in the network dialog with the stack trace above.
[code

[2015-08-25 20:28] andreas-eberle commented on #134
I will have a look this weekend.

Regarding your diary: Great! I'm so excited to see this in action!

[2015-08-25 22:07] michaelzangl commented on #134
There is a reference to a png file missing that should be included in the build. The image map is a auto-generated and then compiled file that is included in the jar and interdependent from any other settings.

[2015-08-25 22:11] michaelzangl commented on #134
@codingberlin Can you please open a separate bug report for the resources folder crash (if the problem still exists) and assign to Andreas Eberle?

[2015-08-25 22:13] michaelzangl opened #135 "Display buildings as black areas on the Minimap."
The best option is to include a fake map object on any position blocked by a building. Then render that as black on the map.

@andreas-eberle Can you add that?

[2015-08-25 22:15] michaelzangl opened #136 "Select buildings by clicking anywhere on them"
Currently, buildings are selected by clicking on the center of of the building.

They should be selected by clicking on any blocked position.

Related to #135

[2015-08-25 22:17] michaelzangl opened #137 "Allow list scrolling with mouse wheel"
@aligator wrote in #126

[2015-08-26 09:22] codingberlin commented on #134
I'm on holidays now.

I'll run the build steps when I'm back and check if the bug still exsist or just was at my machine.

Regarding the config I'll open a separate issue then, too.

[2015-08-27 21:27] andreas-eberle opened #138 "Game crashes on creating the config"
In reference to #134.

[2015-08-27 21:59] andreas-eberle commented on #138
I was only able to reproduce this behaviour when I execute SwingManagedJSettlers in the workspace location (having the repo-folder as working dir).

@codingberlin: Can you please try to run the game with the working directory set to `..../jsettlers.main.swing/`? Does this fix the crash after selecting the settlers folder? (Please reset the config.prp file in jsettlers.main.swing. If SwingManagedJS

[2015-08-30 08:33] codingberlin commented on #138
Change the working directory to settlers.main.swing/ fixed the issue.

Thx for your help!

[2015-08-30 10:48] codingberlin commented on #134
I'm so sorry.
To run the ant builds fixed the issue.

[2015-08-30 10:48] #134 closed

[2015-09-02 08:22] #136 closed

[2015-09-02 08:50] #138 closed

[2015-09-02 09:36] #34 closed

[2015-09-03 08:50] #130 closed

[2015-09-03 12:32] #131 closed

[2015-09-03 13:23] andreas-eberle opened #140 "Implement new multiplayer join screen / singleplayer player selection screen"
### Current Situation
* There is no player selection screen for the singleplayer games. When starting a singleplayer game, the game directly starts without a chance to select the number of players / which players should be active / which start position (i.e. player number) the player wants to have.
* When joining or opening a new multiplayer match, there is a simple but buggy and ungly join screen

[2015-09-03 19:53] adamjryan commented on #140
I'd be happy to give this a go. Are you looking to reuse the original game graphics or would it be preferable to reduce the depedency on the proprietary stuff?

[2015-09-03 21:21] andreas-eberle commented on #140
The graphics of the original are very limited and therefore the possibilities to design this would also be limited. That's why I think we should/could use new graphics. There is already support for using own graphics files. @michaelzangl: Can you give more details on this (maybe write a wiki page?). Maybe you can "draw a picture" to give a first idea of the result and have a basis for discussions?

[2015-09-04 15:55] andreas-eberle commented on #140
I just had a discussion with @michaelzangl. We came to the conclusion, that we should not continue building the menu with our own OpenGL-based UI elements. Instead, we plan to create the main menu as SwingUI and skin that. @michaelzangl will implement a simple SwingUI version of the main menu.

[2015-09-04 15:59] andreas-eberle opened #141 "Change Swing Main Menu to a JavaFX UI"
Currently the main menu on Windows, Linux and Mac is implemented with self-made OpenGL-based UI components. We should change the main menu to a real SwingUI to be able to use the normal UI controls. This will reduce the amount of work required for implementing this controls ourselves and the number of possible bugs / flaws.

This is a prereqisite of #140.

[2015-09-04 16:39] #77 closed

[2015-09-04 16:39] andreas-eberle commented on #33
What is the status on this?

[2015-09-04 16:42] andreas-eberle commented on #117
The building count has already been added to the menu. Can you also add the tooltip?

[2015-09-04 18:51] adamjryan commented on #140
It might be an idea to consider JavaFX then as it has quite a few enhancements on Swing as well as FXML for a nicer seperation between the view and the controllers.

[2015-09-05 09:12] andreas-eberle opened #142 "Tool auto-production should priorize differently"
Currently shovels and hammers are priorized higher than axes and other more important tools, which are needed faster.

[2015-09-05 14:38] codingberlin opened #143 "Winegrowers should have a hill in their south west"
The computer player should place winegrowers so that they have a hill in their south west.

[2015-09-07 09:44] michaelzangl opened #147 "Reduce size of savegames by zipping them"
The size of autoreplay files (4MiB-5MiB per file) is quite big. We should reduce the size of those files by e.g. using gzip, which would reduce the size to around 400kiB per file.

[2015-09-07 09:48] andreas-eberle commented on #143
Alternatively, the AI could change the working area of the winegrower to a place fitting the requirements.

[2015-09-07 17:15] #99 closed

[2015-09-07 17:16] michaelzangl commented on #99
Only de/en localization is available at the moment. The locale is always the locale of your device, English if it is not available.

[2015-09-07 17:26] #109 closed

[2015-09-07 17:40] #128 closed

[2015-09-07 17:42] michaelzangl opened #148 "Construction marks for mines should always be green."

[2015-09-07 17:43] michaelzangl opened #149 "Stonecutter does not find stones message"
Currently, it compains of not finding trees.

[2015-09-07 17:44] michaelzangl opened #150 "Setting the work area hides the selection menu button"

[2015-09-08 11:42] Jayflux commented on #121
@andreas-eberle  sorry i missed this thread.
I've moved to Windows 10 now so i don't have a windows 7 OS to test on anymore
If you want im happy to try this on windows 10 and report any issues

[2015-09-08 14:35] andreas-eberle opened #151 "Implement calculation of mine productivity"
As of cb18427708f6ba3344463a2202b5287da2e872d2, the UI can now display the productivity of mines. This must now be calculated in the game logic and also be used for the mining action.

[2015-09-08 14:37] andreas-eberle commented on #151
@codingberlin: Do you know / are you able to guess how the productivity is calculated in the original game exactly? Do you know further rules for the mines (e.g. how often the mine will work at the start before getting any food)?

[2015-09-08 18:30] codingberlin commented on #151
I tested it with the original settlers3 some minutes ago with a coal 100% Mine:

- after I build it without food, I got 10 coal baskets
- with a fish (not the corresponding food for coal) I got 2 baskets of coal
- with a bread (the corresponding food for coal) I got 10 baskets of coal

The mine showed 100% a long time. Even I got 339 baskets of coal out of it.
With 87% I had 531 baskets of coal. T

[2015-09-08 19:10] #142 closed

[2015-09-08 20:26] codingberlin commented on #142
Cool!
I tested your new code with the computerplayer. After 120 minutes game time at mountain lake the computer player has 3 times of the soldiers than before!

[2015-09-09 05:36] codingberlin commented on #151
I thought about why the mine productivity is decreasing and increasing in the original settlers 3.

If the mine would be build over x stacks of coal and all stacks are full and if the miner would take a basket of coal from the first stack, than from the second and so on ... then the mine would have 100% all the time and from the one to the next moment it would decrease to 0%.
So this behavior we c

[2015-09-09 18:13] #148 closed

[2015-09-09 19:07] andreas-eberle commented on #121
Hi @Jayflux,

it would be great if you can test it on Win10 and report any issues. I haven't upgraded my system yet, so you'd be the first one to try. Good luck! ;)

I will close this issue, as it wasn't reproducible.

Best regards!

[2015-09-09 19:07] #121 closed

[2015-09-10 05:56] justangel commented on #121
on win10 all is ok for me

[2015-09-10 20:33] andreas-eberle commented on #151
This seems like a good explanation. Now there is the question if we want to calculate the productivity like in the original, or if we want to calculate it correctly (remain/max)?

[2015-09-11 05:23] codingberlin commented on #151
I think there are two KPIs:
amount -> tells me, how long the mine will work
frequency -> tells me, how many smiths the mine can supply

As I played the original settlers I had the following rules of thumb in mind:
- 1 farm can supply 3 mines (iron, coal, coal)
- 1 mine can supply 2 buildings
This rules of thumb looks at the frequency, which means if I just can build a 50% mine in my rock (e.g. at

[2015-09-11 08:47] andreas-eberle commented on #151
Wow, thanks for this detailed information!

I will then supply these two values (amount and frequency).

[2015-09-16 11:20] codingberlin opened #154 "computerplayer should attack"
Currently the computerplayer just produces soldiers.
To become more interesting for the human player the computerplayer should attack sometimes.

As a very weak attack strategy the computerplayer should attack ...
* only with bowmen and spearmen because swordsmen are needed to occupy towers
* with a minimum of 30 soldiers to have at least a small battle and no suicide command
* attack with the sam

[2015-09-16 20:32] codingberlin commented on #154
I implemented this feature in the branch enhancement_computerplayer_fights and I will pull request it, when #146 is merged.

[2015-09-17 09:17] #151 closed

[2015-09-17 11:29] krichter722 opened #155 "Change to maven as build system"
Although the build process involves a lot of custom build scripts run by `ant` it'd pay off to migrate to maven sooner or later.

I started this migration without knowing much what I was doing, but at least noticed some strange locations regarding unit and integration tests (e.g. tests which require functionality of the swing main project, but were placed in the swing project). maven's design avoi

[2015-09-17 11:47] krichter722 opened #156 "Add licence information"
by mentioning them in README and by adding a COPYING file in the source root.

Information about the relation to the license of the proprietary demo binary dependency would be appreciated (compatibility, plans to replace resources from it one day).

[2015-09-17 16:24] krichter722 opened #158 "Add hint about mailing list to README"
Both the information that there's a list and there's none (not yet or on purpose) and how to discuss development otherwise if there's none are useful information for `README`.

[2015-09-17 17:59] codingberlin opened #159 "growing tree crashes building site"
I noticed this bug several times and watched when it's happen.

When the forester is planting a tree (you see him digging and putting the small tree in the hole) and at the same time you put a building site at this position you get a building site which will never be finished.

![baumbaustelle](https://cloud.githubusercontent.com/assets/6422616/9941506/1476ddfa-5d76-11e5-8aab-ec60b88e8d18.jpg)

[2015-09-17 19:13] andreas-eberle commented on #155
First of all: Yes, the current "build system" needs to be reworked.

Actually there is already a ticket for switching to a gradle build system #33 and a pull request #51 for this has already been started but stalled for a while. I don't know how well Maven works with the Android part of the project. Do you have any experience with this?Usually Android uses Gradle.

What I like about the current bu

[2015-09-17 19:21] krichter722 commented on #155
Then definitely Gradle as the difference in capabilities of gradle and maven is not that big.

I don't know about that. Yet, the feature to let the build tool (maven or gradle) manage declared dependencies it worth its weight in gold.

[2015-09-17 19:24] daviddawson commented on #155
I'd ba happy to lend a hand getting it finished, I'm a little pressured on time to fully do it myself now, sorry!

The only real piece missing is the android build,adding a module that permits an android integration, use with android studio etc.

The rest should all work, after bringing up to date with master.

[2015-09-18 05:43] michaelzangl commented on #155
Currently we only have one dependency for Swing:
-> JOGL.

For Android, we don't have any external dependencies.

I'd rather not make the build system too complicated. Maven is great when you use a lot of dependencies, but I do not see the need for it at the moment. We focus on eclipse for development, that way, we do not need much compatibility - just enough to let travis tests run and allow comp

[2015-09-18 08:16] andreas-eberle commented on #156
What should be in the "COPYING" file? Did you mean a LICENSE.txt file with the MIT license text?

[2015-09-18 08:20] andreas-eberle commented on #155
It seams that we agree on using Gradle as build system. Therefore I'm closing this ticket in favour of #33.
@krichter722: Maybe you can assist the Gradle integration?

[2015-09-18 08:20] #155 closed

[2015-09-18 10:25] krichter722 commented on #156
Yes, the GNU guys call their license files usually COPYING as they're struggeling with the word license - makes sense, but LICENSE is perfectly fine as well.

I was just confused about how it works that the resources can be taken from the proprietary demo and used and thought it'd be nice to have that explained in README or a file that addresses devs (DEVELOPERS or HACKING). Non-dev users might be

[2015-09-18 10:28] krichter722 commented on #155
In case we don't (@michaelzangl seems to be at least indifferent) we should discuss this in #33.

Will do.

[2015-09-18 13:00] krichter722 commented on #104
reference for gradle build environment: #33

[2015-09-18 13:37] krichter722 commented on #156
If you do `git commit --amend` you could close the issue with the commit message (write `fix #156`).

[2015-09-18 14:55] krichter722 commented on #33
The eclipse/ant build process (I never used ant on the command line because I didn't want to figure out the name of build files and the instructions for eclipse were provided) doesn't build very reliably (maybe that why it's so fast ;)). Removing `target/` manually and requesting "Build all" in eclipse doesn't recreate `target` - something I'd expect from a build tool.

referring to v0.1.2-alpha-5

[2015-09-18 15:26] daviddawson commented on #33
That would be because 'build all' in eclipse doesn't actually invoke ant, it uses the local eclipse setup, essentially driven by the eclipse config file that the ant build produces.

[2015-09-18 16:08] michaelzangl commented on #33
Yes, the current ant system is a bit hacked and only designed to work as long as people use the "normal" eclipse way of building.

This is why I am very open to using an other build system. There are several things to consider here:
- We have lots of auto-generated stuff. Most of it is currently created in an ant-specific way. You either need to integrate the old ant scripts or you need to change

[2015-09-18 16:11] daviddawson commented on #33
The gradle setup actually handles most of that already. The big thing missing is android support. Last time I spent time on it, everything else pretty much worked as expected, all libs resolved correctly etc.

Should work well enough with the gradle support in all major IDEs as it's a standard multi module gradle build.

Android may present some fun though.

[2015-09-18 20:45] andreas-eberle commented on #156
I know, but I also wanted to add a comment to the readme ;)

[2015-09-18 21:23] #159 closed

[2015-09-19 17:49] codingberlin opened #161 "Feature Level Up Soldiers"
It should be possible to level up the soldiers.

I startet to implement this in the branch feature_level_up_soldiers and request for help now:
Can someone implement the GUI interface or explain to me how to implement GUI interface?

with:
[code]
... the GUI can decide if the level up buttons are en- or disabled

And if a button is pressed you can schedule an ```UpgradeSoldiersGuiTask()``` with ```

[2015-09-20 08:47] codingberlin commented on #161
I have another question:
What do I have to do to store the ManaInformation in savegames?
I think the players won't like it to loose their Level3 after loading a savegame :)

[2015-09-20 08:57] andreas-eberle commented on #161
The ManaInformation needs to be attached to the Player object (as it depends on the player). If that is done and your class implements the Serializeable interface, the information will be stored and loaded automatically. (Currently we use Java Object Serialization for saving the game).

[2015-09-20 09:23] codingberlin commented on #161
Ah this means that everything is prepared for save games already:
https://github.com/jsettlers/settlers-remake/blob/feature_level_up_soldiers/jsettlers.logic/src/jsettlers/logic/player/Player.java

[2015-09-20 10:36] andreas-eberle commented on #161
Yes, that looks good.

[2015-09-20 19:02] codingberlin opened #162 "adapt fight system to original settlers and add KK (combat strength)"
Soldiers have a combat strengh which increases by gold and is at minimum 100% within the own land.
Some years ago I made a test with the original game: https://tips.siedler3.net/page.php?lan=de&article=gold (german)

The soldiers have different hit points, strength and range.
Important is the range of 2 of pikemen. They are good in tight fights because they can attack from the second line but they

[2015-09-20 20:12] IridiumOxide commented on #162
They also have different movement and attack speed. I've seen a different table: http://www.siedlercommunity.de/c-Siedler-3-Hitpoints-s81.html , but I don't know if the values are right, as hitpoints and strength seem to be wrong in this one. That site also states that Amazon soldiers have 20% less strength.

[2015-09-20 20:31] codingberlin commented on #162
I found that table, too.
It is correct, that the Amazon soldiers have 80% hit points. I left that out because currently the remake has only Roman.
I choose the table mentioned above because it is out of a manual and fits better my experience with the game.

[2015-09-20 20:33] codingberlin commented on #162
Regarding speed and attack frequency: @andreas-eberle is it possible to influence that with the current code?

[2015-09-20 21:20] krichter722 opened #163 "Add info how to support the project to README"
It'd be nice to know which sort of support (donations, etc.) you welcome (money; coffee; nothing, but code).

[2015-09-21 09:19] codingberlin commented on #161
@michaelzangl regarding your comment at 7565d33

I talked with @andreas-eberle. The GUI should look like in the original game

The only thing which is missing is the GUI now.
I would appreciate help with this. Ideally I would understand how to create GUI to be able to do this in future. But it is ok for me, too, when you implement the GUI and I go through the commits to understand it.

[2015-09-21 15:06] andreas-eberle opened #164 "Implement differing walking speeds for different movable types"
Currently all movables have the same walking speed. In the original game, the walking speed differs between different movable types. E.g. the swordsmen are faster than bowmen.

@codingberlin: Do you have information on the step durations of the different movable types?

[2015-09-21 15:07] andreas-eberle commented on #162
The attack frequency and walking speed can be influenced. The current code uses fixed constants for all movables. This can easily be changed. @codingberlin: Can you supply the walking speeds of various movable types (in #164)  and add the attack duration of the soldier types in your table?

[2015-09-21 15:07] andreas-eberle commented on #162
One more thing: What is the minimum range of bowmen?

[2015-09-21 15:16] codingberlin commented on #164
Unfortunately not. @IridiumOxide mentioned a table here: http://www.siedlercommunity.de/c-Siedler-3-Hitpoints-s81.html ... where you can find the speeds "1, 0.7 and 0.4" for the different movableTypes.
I read that speeds some years ago somewhere, too. But I don't know what they mean: Maybe 1 is like for all other movables and 0.7 is 70% of speed of the other movables.

I'll do a test with the orig

[2015-09-21 15:39] michaelzangl commented on #164
We should also consider adding a way to slow the faster movables down to the speed of the slowest in the selected group dynamically. E.g. by shift-clicking. Of cause, having formations would be even better ;-)

[2015-09-21 16:41] krichter722 opened #165 "Add feature to stop work in all buildings of the same type"
This is useful if you have material laying in the way (e.g. bread on a mountain) and want to clean the space without using storage. This feature would avoid selecting every building individually for stopping and restarting work activity.

[2015-09-21 20:44] codingberlin commented on #162
I made a test with the original settlers:
![reichweite](https://cloud.githubusercontent.com/assets/6422616/10004457/0abedd46-60b2-11e5-81ec-91a50274fbd5.png)

I counted the tiles in the editor and it turned out, that the bowman was not able to shoot with range 4, but with 5 to 15.   ... The table above says 12 maximum range. ... so I do another test with a tower

[2015-09-21 21:02] codingberlin commented on #162
To count the range with a tower was more difficult but it is something between:
max: 23-25
min: 5

[2015-09-22 05:43] codingberlin commented on #162
I measured the speed of the following movables and updated the table above:
![speed](https://cloud.githubusercontent.com/assets/6422616/10011626/7c4839f8-60fd-11e5-844b-a95318717f95.png)

I worked with 200 tiles and measured the seconds the movables need, to reach their destination.

[2015-09-22 07:20] andreas-eberle commented on #162
Wow, awesome! Thanks for these values! I will implement the movable speeds and attack frequencies.

[2015-09-24 18:37] stumpdk opened #166 "Error running/debugging in Eclipse"
This is question, not a bug:
When I run the jsettlers.main.swing project I get this error:

Error: Could not find or load main class jsettlers.main.swing.SwingManagedJSettlers

I've build all project (ctrl + b).
I right click the jsettlers.main.swing project and click Run as Java Application. After that I select the SwingManagedJSettlers - jsettlers.main.swing item.

My run configuration (default

[2015-09-25 10:28] andreas-eberle commented on #166
What is the working directory you're using?
I usually don't select the project and then run (as you described). Instead, I select the SwingManagedJSettlers class and Run it directly. Maybe this helps?

Another idea: Do you have the project set to "build automatically"? You can set this in the top navigation bar under "Project" => "Build Automatically".

Did anything of this help?

[2015-09-25 12:05] stumpdk commented on #166
Hi Andreas
Thank you for your reply.
I've tried running the SwingManagedJSettlers class directly (Right click, Run as) as well as by using ctrl + f11. The project settings already has build automatically set.

If you clone the project into a brand new workspace in Eclipse Mars, without any plugins, this works for you?

[2015-09-25 12:07] andreas-eberle commented on #166
I just realised that I'm using Eclipse Luna. I will check it with Mars.

[2015-09-25 12:08] stumpdk commented on #166
Okay. I'm looking forward to hear if I'm just totally wrong. :)

[2015-09-25 13:04] andreas-eberle commented on #135
Seems to be implemented with f41f1283306e23a06c75717c7ce5b36348781805.

[2015-09-25 13:04] #135 closed

[2015-09-25 13:26] andreas-eberle commented on #166
I just downloaded Eclipse Mars and a fresh clone of the repository and it worked.

Some more questions and ideas:
* Does Eclipse display any errors?
* Did you run the `build.ant` file in the project's top-level folder before trying to run the game?
* How did you import the projects into your workspace? Did you create a new and clean workspace for the project?

Best regards

[2015-09-25 14:11] #161 closed

[2015-09-25 14:54] andreas-eberle opened #168 "Undo of set player's start position not working"

[2015-09-25 15:23] andreas-eberle commented on #164
### walking speeds as determined by @codingberlin in #162
|movable|speed [seconds per 100 tiles]|
|---------|-----------|
|priest|70|
|pioneer|60|
|geologist|60|
|bearer|60|
|thief|60|
|bowman|60|
|pikeman|50|
|swordsman|45|

[2015-09-25 16:13] andreas-eberle commented on #140
@adamjryan: Do you have experience with FXML and JavaFX? From what I just read, it is part of Java8? However, as the SwingUI is seperated from the Android code, we could use Java8 here.

As we also plan to rebuild the complete main menu on "not-Android" devices, we should consider using these newer technologies for that as well. Would you also be interested in implementing issue #141?

[2015-09-25 16:17] adamjryan commented on #140
Yes, I'll take that one up. I've made an application in JavaFX and know how the FXML works so I can put up something.

[2015-09-25 20:10] krichter722 opened #170 "Screen turns white when dragging main menu window on another screen"
There's no issue when the game is used on the screen where it has been started and the window can be resized there. Dragging the window on another (potentially bigger screen) causes the window to turn white. Dragging the window back to the original screen doesn't have any effect.

The game is randomly started on the "right" screen, i.e. randomly starts on different screens, so that I usually get i

[2015-09-25 20:22] michaelzangl commented on #170
You don't need that video, I can reproduce the issue.

The problem is that the GL context gets destroyed when moving between screens and we do not track that. We need to register a listener on that and then reload the graphics.

[2015-09-25 20:38] stumpdk commented on #166
I got it working. I forgot a very important thing.
The problem was that I did not have the Java JDK.

Based on your answer I got it to work by doing this:
I imported the project
I ran the built.ant file in the SwingManagedJSettlers project.
This gave me a compiler error (I needed the Java JDK)
I installed the Java SDK
I added the JAVA_HOME as a Windows path

And the game compiles and runs.

Thanks

[2015-09-25 20:51] michaelzangl commented on #137
See #141

[2015-09-25 20:51] #137 closed

[2015-09-26 10:55] andreas-eberle commented on #166
Glad to hear that it works now. Feel free to send me a PullRequest with the updated Readme!

[2015-09-26 10:55] #166 closed

[2015-09-26 10:57] #164 closed

[2015-09-26 11:01] andreas-eberle commented on #141
As discussed with @adamjryan and @michaelzangl, @adamjryan will take over this task and implement a UI with JavaFX.

[2015-09-26 12:24] andreas-eberle opened #172 "Android sometimes crashes on leaving the game"
After starting a game on Android and leaving it by pressing the back button and then the "Spiel Verlassen" button, the game sometimes crashes with the following exception

[code]

Test device: Samsung Galaxy S4 with Samsungs Android 5.0.1.

[2015-09-27 12:22] andreas-eberle commented on #126
As stated in #141 we will replace the current main menu by a JavaFX UI with Java UI components, which will fix this issue. Therefore I close this issue, although it is not fixed yet.

[2015-09-27 12:22] #126 closed

[2015-09-27 13:40] #147 closed

[2015-09-27 14:09] #154 closed

[2015-09-27 20:22] codingberlin commented on #162
I need some help with implementing the combat strength
I created the new feature_combat_strength branch and have 90% finished now but I have a problem:

Here:
https://github.com/jsettlers/settlers-remake/blob/feature_combat_strength/jsettlers.logic/src/jsettlers/logic/player/CombatStrengthInformation.java#L46
I try to get all player's partitions to get their amount of gold. Unfortunately I got hun

[2015-09-27 20:50] michaelzangl commented on #162
Mind that we want this method to be fast, thus not contain any O(n) loops (or even worse loops).

A nice way would be to change the OffersList. Create a new class for the PlayerStatistics that holds statistics for the whole player. The OffersList (in PartitionManager, but don't bring player relevant stuff in there. e.g. create a OffersList#trackToPlayerStatistics(...)) can then inform the statisti

[2015-09-27 21:46] stumpdk commented on #166
[pull request #176](https://github.com/jsettlers/settlers-remake/pull/176) has an updated readme.

[2015-09-28 09:02] andreas-eberle commented on #162
I suggest keeping an always up-to-date count of a player's global amount of every material. This might also be used in the UI and presented (e.g. in a tool-tip) to the user as it might be useful in some situations. I will have a look at the code and add the global material counting for each player.

[2015-09-28 09:46] michaelzangl opened #177 "Computerplayer should work partition-wise"
Currently, the computerplayer selects the tasks per player. We should add the concept of partitions as soon as possible.

The computerplayer should be scheduled on every partition with a size bigger than e.g. 100. The decision strategy needs to be split into decisions that are made per partition (build 2 lumberjack, stonecutter, one forester per 2 lumberjack, ...).

we should also try to make the

[2015-09-28 09:52] andreas-eberle commented on #177
An easier first step would be to simply run an AI per partition. As a second step, AIs of the same player could share some "knowledge" (e.g. like you said, mana and gold are global, so it might be ok to produce this only in one partition).

However, currently the AI is ok. This is only required for more advanced AIs.

[2015-09-28 13:37] andreas-eberle commented on #162
I implemented the counting for a player's materials in the branch and refactored the code that the partitions grid is not given to the Player object. Therefore we can now access the global material counts of players in constant time.

[2015-09-29 16:23] codingberlin commented on #162
I figured out the hitpoints of priest, theft, geologist and pioneer and add them to the table above.

[2015-09-29 16:27] krichter722 commented on #162
I know, I already requested info in #156, but I might point you attention to an issue at this point as well (serves as a good example why clarification in #156 is necessary): Don't you think that the calibration of game balancing is intellectual property and needs to be figured out by trial and error (and documented as such) and/or in automated experiments exclusively based on the achievements of

[2015-09-29 16:49] codingberlin opened #179 "Introduce big temple"
Currently it is not possible to build a big temple.

[2015-09-30 13:07] andreas-eberle commented on #158
I already thought about introducing a mailing list. Does anybody have experices with mailing list providers and can recommend a provdier?

@all (especially @michaelzangl, @codingberlin): Do you think a mailing list is a good idea for discussing technical topics? Of course the ticket system would still be the way to coordinate and log "work packages".

[2015-09-30 13:11] andreas-eberle commented on #162
I don't think it is an issue to determine some properties from the original game at the moment. Especially, as we will have to tweak them ourselves for our game. Of course we want to build a remake, but some values need to be adjusted (e.g. walking speed is way to slow for our game). And these adjustments will cause other adjustments.

However, for the beginning these values are very useful to mak

[2015-09-30 13:13] krichter722 commented on #158
We could try [gitter](https://gitter.im/) which has good integration with github.com. It's a browser-based chat application. If you make it a rule to keep conversations public and clean (no "Thank you", "lol, me too" bs) it shouldn't be too different from a mailing list.

[2015-09-30 19:24] codingberlin commented on #158
I have no experience with mailing lists. The alternative Lobby for Settlers3 we implemented backed by a Forum where we kept the progress and discussions. This worked quite well.
But maybe a mailing list works, too.

[2015-10-01 18:44] krichter722 opened #185 "A*/way finding algorithm doesn't make soldiers fight at a front line, but in rows only"
The current A*/way finding algorithm keeps soldiers fighting in a row, e.g

         ssss2s1 F e1e2eeeeeee            bb  bb
    sssss |----------|      e4                 bbb   bbb
          | Building |    e3                      bb  bbb
          |          |   F
          |----------|  s3
         sssssssssssssss4

    s[n] = soldiers, e[n] = enemy soldiers, F = fight, b = bowman_woman

It cor

[2015-10-02 12:31] #179 closed

[2015-10-02 12:35] andreas-eberle commented on #141
@adamjryan: Is there any progress? Don't feel pressured, I'm just curious ;) Maybe you can create a PullRequest as soon as you have something, so we can follow your work easily.

[2015-10-02 14:17] michaelzangl opened #186 "Allow player to add/remove soldiers from towers"
Actions were added in f4921c54663153d0f1c9d96cbd65d2f9ab18477a

[2015-10-02 14:29] michaelzangl opened #187 "Implement market logic"
The market logic contains
- The list of materials that should be brought to the market (+ UI interface)
- The path that the donkeys should walk (+ UI interface)
- Adding the request stacks to the map (we might need a new multi-request type here)

[2015-10-02 14:29] michaelzangl opened #188 "Add donkey movable strategy"
We already have a special movable type (donkey).

We need to implement it and make it addable to the map. This includes
* Check the right images
* Allow the donkey to carry materials (pick them up)
* Allow it to drop materials
* From a list of available market stacks, select one, go there, get the material and then walk the path that was specified for that market. Requires #187

The implementation

[2015-10-02 14:31] michaelzangl opened #189 "Implement donkey farm"
The building is already added in e2622de4bbef6dc7e72f3401404f052d291fe012.

We need to
* ~~Set the right amount of stone/planks~~
* Add the (growing) donkey map object
* Add the worker jobs to the xml file
* Make it produce donkeys (requires the donkey movable) #188

[2015-10-02 14:32] michaelzangl opened #190 "Market place GUI"
Add it.

[2015-10-02 14:57] codingberlin commented on #188
The donkey is attackable when it is carrying material: with the first hit, it drops the material and is not attackable anknote.
The donkey can't die.
The donkey can take only materials from the market.

[2015-10-03 10:36] adamjryan commented on #141
I'm hoping to get a chance tomorrow, I've got a few things on the go atm.

[2015-10-04 12:32] michaelzangl commented on #187
Waypoint actions: def0af77720a0fb9756b0b9519178d0dc4d5efdf

[2015-10-04 16:23] michaelzangl opened #191 "IManaInformation#upgrade exposed to GUI."
This method should not be exposed. We should use the right Action instead. Same for all the increaseMana entries.

[2015-10-04 21:08] michaelzangl opened #192 "Implement stock building logic"

[2015-10-05 14:11] #192 closed

[2015-10-10 08:19] krichter722 opened #193 "Provide GUI feedback if specified path to original is wrong"
Currently only

    Warning: Could not load LocaleSuffix [_de_DE]. Falling back to next file.
    /home/richter/.wine/drive_c/BlueByte/S3AM
    Exception in thread "main" SettlersDirectoryException [expectedSnds=[/home/richter/.wine/drive_c/BlueByte/S3AM/SND, /home/richter/.wine/drive_c/BlueByte/S3AM/snd, /home/richter/.wine/drive_c/BlueByte/S3AM/Snd], expectedGfxs=[/home/richter/.wine/drive_c/Blu

[2015-10-10 08:22] krichter722 commented on #170
This seems to be fixed in v0.1.3-alpha-303-g26bf534.

[2015-10-10 09:32] andreas-eberle opened #194 "Implement debug option to disable AI"
When debugging it is sometimes important to controll multiple players. However, the new AI controls other non-human players and interferes with the debugging. Therefore a --disable-ai debug option should be implemented.

[2015-10-10 09:40] andreas-eberle commented on #194
I implemented this in the enhancement_hitpoints_and_strength branch, as I needed it there first.

[2015-10-10 12:14] krichter722 commented on #189
Why is the issue not closed automatically/the `Fixes #189` in the commit message not recognized?

[2015-10-10 12:32] andreas-eberle commented on #189
The fixes message closes the ticket, as soon as the commit is in the master. As this implementation is only in a branch at the moment, the fix is not "finished" yet.

[2015-10-10 12:39] krichter722 commented on #189
I see...

[2015-10-10 18:07] krichter722 opened #195 "Map list not scrollable"
The map list in the main windows isn't scrollable, i.e. doesn't respond to dragging the mouse on the scroll bar and spinning the mouse wheel.

experienced with v0.1.3-alpha-322-g5dbac0c

[2015-10-10 19:56] #194 closed

[2015-10-10 20:28] codingberlin commented on #191
I removed the methods which change the state of ManaInformation from the GUI Interface

[2015-10-10 20:33] codingberlin commented on #162
The only thing which is missing for this issue is the "hit every x seconds" implementation.
As we discussed to rebalance the game at a later point it would be the same if we reduce the strength of the bowmen or if we slow the "hit every x seconds" down. So I come to the conclusion that this does not need to be implemented and this issue can be closed.

[2015-10-10 20:34] #162 closed

[2015-10-11 11:15] #191 closed

[2015-10-12 12:50] #193 closed

[2015-10-12 13:17] andreas-eberle opened #199 "Weaponsmith continues producing weapons although the stack is full"

[2015-10-12 13:43] krichter722 opened #200 "Make settlers move to closest territory instead of killing them when territory is lost"
Currently all settlers die which were standing or moving on now lost territory which is pretty hard on the game balancing given the fact that

  * > 500 settlers easily find place in the space covered by one tower
  * builders and graders need to be recreated for the cost of 1 piece of coal and iron for their tools.
  * attacks in the not so well guarded back of territory far from the border where

[2015-10-12 13:51] andreas-eberle opened #201 "AI is not working after loading a savegame"
#### Steps to reproduce
* Start a new singleplayer game with AI players.
* save the game
* quit the game
* load the savegame.

=> No AI players are active.

[2015-10-12 13:55] andreas-eberle commented on #200
Settlers are actually already walking back to there territory. However the distance in which they find their way back is quite small at the moment.

@codingberlin: Do you have a feeling how large this distance should be? Probably larger than one tower radius or so.

[2015-10-12 13:56] krichter722 commented on #200
How about 1.5 ranges of the largest territory covering building (castle)?

[2015-10-12 14:06] #199 closed

[2015-10-13 09:21] krichter722 opened #203 "Tower door is attacked for ever"
Apparently it can happen that tower doors are attacked for ever. Warriors are moving away and approaching the door in an endless loop. See [this video](https://richtercloud.de:447/owncloud/index.php/s/hAN9qllDl0b6LLC) I created from AI player (same can happen for human players as well).

experienced with v0.1.3-alpha-335-g2f32bc0

[2015-10-15 17:22] krichter722 opened #204 "Map creator window not shown"
Starting `java -jar MapCreator.jar` causes output

    Warning: Could not load LocaleSuffix [_en]. Falling back to next file.
    Warning: Could not load LocaleSuffix [_de_DE]. Falling back to next file.

but doesn't display any window.

experienced with v0.1.3-alpha-338-g09c8631

[2015-10-15 17:30] krichter722 opened #205 "Incorrect building material distribution order"
It can happen that building materials are not distributed in order (see [this video](https://richtercloud.de:447/index.php/s/gWp19NvsTjZsSFQ) for an example).

The reason is unclear, it might happen when building materials are no longer supplied from available resources, but settlers need to wait for them to be produced. The issue can happen after an hour of game play as well. It seems reproducibl

[2015-10-17 10:29] andreas-eberle commented on #205
Hi @krichter722,

what exactly do you mean? In your video, I don't see anything wrong. Can you give me a more detailed explanation?

Best regards

[2015-10-17 10:42] krichter722 commented on #205
The house should get the last stone delivered before the buildings ordered after it. At 1:05 you can see a settler picking up a stone, but not delivering it to the house.

[2015-10-17 17:38] seb321 opened #206 "Could not find/load graphic file"
Hi,
(sorry for my English),
When i'm running jsettlers i get error:

Warning: Could not load LocaleSuffix [_pl]. Falling back to next file.
Warning: Could not load LocaleSuffix [_pl_PL]. Falling back to next file.
Could not find/load graphic file 01
Could not find/load graphic file 11
java.lang.NullPointerException
	at jsettlers.graphics.map.draw.ImagePreloadTask.run(ImagePreloadTask.java:121)
	at

[2015-10-17 17:45] andreas-eberle commented on #206
From what package did you unzip the Gfx and Snd files?

[2015-10-17 18:56] seb321 commented on #206
From amazons demo(link is in instruction).

[2015-10-17 19:45] #206 closed

[2015-10-21 04:34] aligator opened #208 "Android no building icons"
Alpha v. 0.1.3
![Uploading Screenshot_2015-10-21-06-30-08.png…]()

[2015-10-21 04:42] aligator commented on #208
aligator123.de/Screenshot_2015-10-21-06-30-08.png

I use android 5.1.1

[2015-10-21 12:35] andreas-eberle opened #209 "Sometimes partitions are not divided when a tower is taken over"

[2015-10-23 12:28] codingberlin opened #210 "Feature influence production rates of weapons"
I would like to implement the GUI and functionality to influence the production rates of weapons. (Because the computerplayer needs to influence it ;-) )

I would implement both: influence the ratios by increasing or decreasing the blue bars (Do we have somewhere such a bar already?) and production by prio (by increasing the numbers left to the blue bar)

I would focus on weapons but could impleme

[2015-10-23 12:30] codingberlin opened #211 "Read original maps"
It should be possible to read the original game maps in the remake.

[2015-10-23 12:32] codingberlin commented on #211
@tomsoftware would you mind to help us here with your knowlede, you collected in your repository? https://github.com/tomsoftware/sied3

[2015-10-23 12:35] codingberlin commented on #211
@andreas-eberle @michaelzangl What do you think about transforming the original maps when jsettlers is started once (when the maps weren't transformed yet) into the new map format and store them in the maps dir?

[2015-10-23 14:21] michaelzangl commented on #211
This might prove to be difficult. We use the same graphics, but our game grid has many differences. We can attempt to translate the maps but we might have problems in translating the images.

Our main goal should be to support an intuitive, good map editor and create our own set of maps.

So far, supporting those files is not planed, although the file format should not make any difficulties.

[2015-10-23 15:18] codingberlin commented on #211
@michaelzangl When we know what the bits and bytes of the original map format means (e.g. Water Level 1) we can transform it into the new map format (Water Level 1) which can be read by the remake.

[2015-10-24 03:46] Zervox opened #213 "Allow map to decide how much each resource has"
allow the map editor to set a resource node's starting amount of resources that can be gathered, like how much wood there is in a tree, fish, rocks or mining resources.
so that for example one plot of coal has 10000, 1000 or 100(preferably this would be typed in) before it is depleted.

[2015-10-24 15:12] codingberlin commented on #210
@michaelzangl while working on that issue I got two questions. Maybe you can help me?

1) how can an action be fired by BarFill when it is clicked? (e.g. like with ```new Button(Action action, ...)```)
2) how can I implement that the ToolsPanel refreshes the displayed information? (e.g. you add 10 bows and 2 were produced the panel shows 10 until I move a bit, than it refreshes)

Tanks in advanced

[2015-10-24 18:17] michaelzangl commented on #210
1) Extend the BarFill. Override getAction(x, y) to construct a new action. Pass null as action to the constructor.
2) Use this class to help you (see usage in buildings menu for an example).
https://github.com/jsettlers/settlers-remake/blob/master/jsettlers.graphics/src/jsettlers/graphics/utils/UIUpdater.java

[2015-10-25 16:42] codingberlin commented on #210
Both helped me. Thx!

By the way I coupled now the automatical and manual Toolproduction.
If tools for workers are missing, they will be produced in their priority order. But now they were displayed in the ToolsPanel as well. If the player reduces them, they will be increased again (because the tool is missing). If no tools are missing, the ToolSmith produces the configured tools like the weapons:

[2015-10-25 17:43] codingberlin commented on #210
How I can prevent that the player can change the settings for other players, too?
Is there some code example for other partition based UI settings where the player is not able to change other players partition data?

[2015-10-25 17:49] codingberlin opened #214 "MaterialPriorityPanel broken"
Nothing happens when I press the reorder buttons in the MaterialPriorityPanel.

Pressing to "order to top" button I get:
[code]

[2015-10-25 18:01] michaelzangl commented on #210
No. Such a test is currently not implemented in all of the partition-wise settings. Simply ignore it for now, it is on the TODO-List ;-)

[2015-10-25 18:03] michaelzangl commented on #214
Fixed in f2fde2474585ce349439015b1d6124cf9a7c3a40, not merged yet.

[2015-10-26 10:10] andreas-eberle commented on #210
@codingberlin: Maybe it would be an idea to add a check box like "activate automatic tool production" above the tool selection. With this check box, the user could decide, if he wants to use the automated tool production or not. Furthermore it would prevent conflicts like "user reduces tool amount, but it is increased again, as it is still needed".

[2015-10-26 10:21] andreas-eberle commented on #213
@Zervox: you're right, this is a much needed feature for the map editor.

However, in Settlers III, trees always only give one log when cut. With fish and the mining resources, there should be the possibility to specify a percentage of the maximum resource amount possible. Therefore the UI should either ask the user for a percentage of resources or offer some presets (e.g. 30%, 60%, 100%).

[2015-10-26 10:36] andreas-eberle commented on #211
I think the best way would be to implement a loader for the original maps which implements the jsettlers.common.map.IMapData interface. This interface defines all the information required for creating a new MainGrid (i.e. for loading the map to start a game) and can also be used to load the map into the MapEditor.

I would not transform the maps into our map format. This is because
* we would need

[2015-10-26 12:21] codingberlin commented on #211
I agree. Currently you will find prototype code in the branch I created: https://github.com/jsettlers/settlers-remake/blob/feature_original_maps/jsettlers.logic/src/jsettlers/logic/map/OriginalMapLoader.java
Because first I have to understand how the original map format works.
When I (or we) got it, then I will refactor the code so that it fits into the game as a MapLoader which gives IMapData and

[2015-10-26 20:31] abledbody opened #215 "Cannot drag-select units on high terrain"
When units are standing on high terrain they are not selectable with mouse dragging.

[2015-10-26 21:09] codingberlin commented on #210
@andreas-eberle Currently the automatic and manual tool production is merged in the code in the branch but there is a bug (I guess the bug is caused because the tool smith drops the tool at the beginning of the tool production animations and in the meantime it is rescheduled from the automation)

I would like to fix that by adding the tool to the production only once so that the automation adds to

[2015-10-26 23:25] Zervox commented on #213
Couldn't that be fixed by letting the map control the maps global sapling to full grown tree time?

[2015-10-27 15:06] andreas-eberle commented on #215
I also experienced this issue in the game. I think it is not depending on the terrain type, but on the height of the terrain.

@michaelzangl: I think we already had this issue a long time ago. Maybe it was reintroduced?

[2015-10-27 16:02] andreas-eberle opened #218 "Computerplayer does not expand to stone fields before running out of stone"
In general, the computerplayer does not expand towards stone fields enough. This can lead to a lack of stone that cannot be solved by the computerplayer any more.

This can be reproduced on:
* mountainlake: The player in the lower left corner of the map fails to expand to the stone field at its start position.
* The new map Settlers Crater (as suggested in PR #217) causes both AI players to comple

[2015-10-27 16:03] #201 closed

[2015-10-27 16:10] andreas-eberle commented on #210
@codingberlin: There is one issue with this idea: If you have a temporary high need of shovels or hammers (e.g. because you're just building a lot of stuff), then these shovels or hammers would be requested. However, at the time when they are actually produced, they aren't needed any more.

That's why the current system for the tool production calculates the currently needed tool in the moment the

[2015-10-27 19:26] michaelzangl commented on #210
All tool auto-production categories have this problem:
* Tools for building workers. They need to be requested as late as possible, because we often want to raze an old building instead of producing a new tool.
* Tools for building construction. Computing the optimal number of workers is not trivial.
* Weapons for recruiting (not implemented yet). No problem here, simply tie it to the number of we

[2015-10-27 21:49] abledbody opened #219 "Cannot build on top of mined stone"
Stone that has been completely mined out cannot have buildings place on top of them, like in the original game.

[2015-10-27 22:23] codingberlin commented on #218
* mountainlake: The behavior you can observe here is by intention. The yellow ai does have enough stones at the beginning and starts to occupy land in direction of other needed resources. While doing that it occupies some other stonefiels. If yellow runs out of stone later, it is not necessary to build a tower near the start position. yellow can just build stonecutters at the other currently occup

[2015-10-27 22:28] codingberlin commented on #210
I'm very open here how to implement the feature.
My target is to give the computerplayer an interface so that the WinnerGeneral can produce bows only (with some rush defending spears at the beginning)

[2015-10-28 10:29] andreas-eberle commented on #218
First of all, thanks for your improvements.

I figured out one more situation, with an AI player running out of stone. However, this is not because there is not enough stone in the player's occupied area but because the AI destroys all its stone cutters.

With the version of PR #220, the blue player destroys his stonecutters at about 2:10 to 2:25 hours. I guess this is due to the fact that the yel

[2015-10-28 10:34] andreas-eberle commented on #219
Can you add a screenshot showing this behavour? I wasn't able to repdoduce it.

[2015-10-28 11:12] abledbody commented on #219
@andreas-eberle ![Screenshot](http://puu.sh/l0Bg0/331b529c84.png)
It's possible this is either exclusive to map editor placed stone, or stonecutters can mine stone rubble.

[2015-10-28 11:51] michaelzangl commented on #219
I am more concerned that you can build on the tower in that screenshot.

[2015-10-28 13:50] andreas-eberle commented on #219
@abledbody: Yes, it seems to be an issue with the stones placed by the map editor. I will check that.
@michaelzangl: What do you mean? You can't build a tower on top of the other tower, but behind it...

[2015-10-28 18:58] michaelzangl commented on #219
Yes, the right tower. My bad, I'll blame the one that implemented the preview function.

[2015-10-28 20:06] justangel commented on #215
I have a similar problem

[2015-10-28 21:53] codingberlin commented on #210
As discussed with @andreas-eberle in icq I only implement the weapons here and the tools can be made within another issue/pullrequest.

[2015-10-30 09:27] abledbody commented on #205
I believe you're assuming that buildings are supposed to be supplied in the order in which they're constructed. The original game had random distribution, where as Jsettlers supplies the closest first. (I think) While it would probably be quite productive to supply them in order it probably will either remain this way, or behave more like the original settlers in the future.

[2015-10-30 09:29] abledbody commented on #205
Speaking of which, if you need to you can just set the building to high priority.

[2015-10-30 09:42] abledbody opened #224 "Game can be paused during multiplayer"
Pressing P will pause the game, even during multiplayer, which can desynchronize the games.

[2015-10-30 09:50] abledbody commented on #3
If the game gets out of sync it may be wise to slow down the users in the future's game slightly until they are in sync to make the proces smooth and unnoticable, especially when playing against a laggy machine.

[2015-10-30 12:11] michaelzangl commented on #3
Delaying slow players is a different proble. In this case here, a game command has already been executed on client but not on the other. This cannot be repaired, we need to restore an older game status or sync back with one master player.

[2015-10-30 13:45] Zervox commented on #224
Pausing game for all clients would actually be wanted personally, but maybe let it be an option if the game will be pausable or not by the host also perhaps a max pause timer - pause amount per player.

[2015-10-30 19:12] abledbody commented on #3
Ahhh, i see.

[2015-10-30 19:14] abledbody commented on #224
@Zervox the issue is that only the client who pauses the game's game gets paused.

[2015-10-30 19:50] Zervox commented on #224
I know, just added it as a note. :+1:

[2015-10-31 05:11] abledbody opened #225 "Sometimes buildings under construction are layered incorrectly."
I have no idea what causes this, but sometimes while constructing buildings the half-constructed phase appears over the whole-constructed phase, looking like this: ![](http://puu.sh/l41WF/c61bf09be1.png)

[2015-10-31 11:31] andreas-eberle commented on #224
@abledbody: Have you actually been able to desynchronize the game? If so, can you explain the setup/how you did that?

Because normally, you cannot desynchronize the game by pausing a client. Pausing is allowed atm for debugging reasons. However, as @Zervox suggested, the host should be able to disable it. Nevertheless, pausing one client will pause the others, as the server will detect the pausin

[2015-10-31 22:01] abledbody commented on #224
@andreas-eberle The thing is I actually don't have anybody else to play against, and I don't have a second machine on hand, so the environment this was tested in was two instances of the game on one machine, which, peculiarly enough, put both copies in charge of player 2. The game does not actually desynchronize, it behaves normally, but one of the clients will be on a delay after pausing.
There a

[2015-11-04 23:00] Jayflux opened #226 "do you plan to implement online multiplayer (not just LAN games)"
That would be amazing if you did
I would be happy to help any way i can

[2015-11-05 00:08] Jayflux opened #228 "Barracks are giving me bowmen when i set Swords to high priority"
see title

[2015-11-05 05:58] codingberlin commented on #228
This issue is a duplicate of #210. The status of issue #210 is, that it is implemented already in pull request #222 which just need to be merged and then you can influence the weapon production with the next release.

[2015-11-05 05:58] #228 closed

[2015-11-06 06:44] codingberlin commented on #218
I changed the destroy stonecutter algorithm. Now it works like that:
- Every AI tick the stonecutters will be checked if they can't work due to missing stones
- The first not working stonecutter (the 5th with WinnerEconomyMinister, and the 3rd with LooserEconomyMinister) will be crushed to be rebuild somewhere else, because the AI has enough other stonecutters to ensure the new stonecutter can be

[2015-11-06 06:51] codingberlin commented on #218
While working at the stonecutters I optimized the check for blocking work areas of farms and winegrowers.

[2015-11-07 17:33] andreas-eberle commented on #226
Hi @Jayflux,

the game already supports online multiplayer games. I also have a server running which should be configured as default server. So if you just start a multiplayer game, it is already a online multiplayer game.

Best regards,
Andreas

[2015-11-07 17:33] #226 closed

[2015-11-09 11:05] Jayflux commented on #226
@andreas-eberle I mean in terms of the chat server, so you can go online and see if anyone else is on etc. Just like how the original did it.

I didn't see any of that when i clicked the multiplayer option

[2015-11-10 12:04] #218 closed

[2015-11-10 12:04] #209 closed

[2015-11-11 10:23] codingberlin opened #231 "Scrollbar bug when a lot of items are in list"
Within the feature_original_maps branch where all original maps are loaded (I tested with all Goldedition maps) the scrollbar does not scroll to the desired position.

[2015-11-11 10:23] andreas-eberle opened #232 "New soldiers do not always have a full health"
New soldiers like spearmen have a damaged health directly after they come out of the barrack.

[2015-11-11 10:30] #232 closed

[2015-11-11 10:39] codingberlin commented on #232
Thx for finding and fixing this!

[2015-11-11 11:46] tomsoftware opened #234 "Wrong animations sequences are used / gfx-animation file is not used"
-> the "movables.txt" has some bugs. e.g.
STONECUTTER, BEND_DOWN, STONE, SOUTH_WEST = 11, 27,  0, 4

{File Sequence Frame}
(11 27 0), (11 27 1), (11 27 2), (11 27 3)

need to be the sequence:
(11 27 0), (11 27 0), (11 27 1), (11 27 1), (11 27 2), (11 27 2), (11 27 3), (11 27 3)

Solution:
use the in original animation sequences from gfx file (e.g. "siedler3_15.7c003e01f.dat")

Pro:
- the original

[2015-11-11 12:02] tomsoftware commented on #211
What's missing?

As you can see:
https://github.com/jsettlers/settlers-remake/pull/230#event-461021927
the feature is working.

Known issues:
- Map creater can not save the maps
- Replay does not work/compile (I don't know nothing about this feature)
- scaling of map hight and resouce amount may still wrong
- ... ???

What's new:
- remake-maps are renamed to ".rmap"
- original ".map" and ".edm" ca

[2015-11-11 14:45] #210 closed

[2015-11-11 14:52] codingberlin commented on #211
I'll take a look at the issues:
* Map creator can not save the maps (@tomsoftware what is meant by that? Are you not able to create a map with the map creator and save it then to *.rmap ?)
* Replay does not work/compile
* scaling of map hight and resouce amount may still wrong
* #231 scrollbar bug

When:
* #233 (#231 (scrollbar bug)) is merged
* Buildtool is green
... I'll create a copy of this br

[2015-11-11 16:24] codingberlin commented on #211
I finished the scaling of map hight.

[2015-11-11 17:06] codingberlin commented on #211
I finished the scaling of resource amount.

[2015-11-11 19:17] codingberlin commented on #211
I fixed the runAutoReplayIT build by regenerating the replay files. They contained .map instead of .rmap in their stream.

[2015-11-11 19:33] codingberlin commented on #211
@tomsoftware I updated the MapCreatorApp so that all the maps can be listed within the open dialog. I was able to create a new map and save it. A *.rmap was created. Does this fix the issue mentioned above: "Map creator can not save the maps"?

[2015-11-11 23:13] tomsoftware commented on #211
@codingberlin:
- MapCreatorApp: thanks for fixing :+1: , I found another bug and fixed it.
- Map heigh: I think using ~0.5 as scaling factor is theoretically the best BUT then, playing the map differs very mutch from original (see image below). I think it's cause the remake alows mutch higer mountains. So the value 255 in original map heigh means about 85 in remake and 127 in remake would mean 381

[2015-11-13 16:58] tomsoftware opened #237 "Map Decoration"
I create a sub branch (of feature_original_maps ) to implement map-decoration-objects. May you can create a brench in the remake so anyone can help? Or may I Push this in "feature_original_maps" ?

Current State (Working):
![map_deco](https://cloud.githubusercontent.com/assets/3290888/11151779/32343b72-8a2f-11e5-8ba0-06f870231f9a.png)

ToDo: Some Fixes in the "MapObjectDrawer" and "mapcreator"

Th

[2015-11-14 09:55] codingberlin commented on #237
Please PR this into the enhancement_load_original_maps branch.

[2015-11-14 14:48] tomsoftware commented on #237
OK, I will do this, but because it is not a Original-Map-loader issue, I first will try to finish my clean up/refactor of the MapObjectDrawer Class... not sure if this is a good idea but it looks mutch smarter to me if the IMapObjects "know" how to draw them and not the Drawer it self.
We will see.

[2015-11-14 14:54] codingberlin commented on #237
For this question @michaelzangl is the better person of contact.

[2015-11-15 09:35] andreas-eberle opened #240 "NullPointerException on startup"
Sebastian send me this by mail:

I just wanted to try out your settlers 3 remake and got the following
Exception:

g:\Spiele\JSettlers>java -jar JSettlers.jar
Exception in thread "main" java.lang.NullPointerException
        at sun.awt.shell.Win32ShellFolder2.getFileSystemPath(Unknown
Source) at sun.awt.shell.Win32ShellFolder2.access$400(Unknown Source)
        at sun.awt.shell.Win32ShellFolder2$1

[2015-11-15 09:41] andreas-eberle commented on #240
I requested further information about OS type/version, used game release and Java version.

[2015-11-15 09:43] andreas-eberle commented on #237
@tomsoftware: The problem here is that the IMapObjects are plain "game logic"-objects. Therefore they have no idea of the UI / rendering. The idea is to keep game logic and UI completely separated (although this is already broken for some interfaces, rendering is certainly part of the graphics projects).

[2015-11-15 09:52] andreas-eberle commented on #240
This might be caused by http://bugs.java.com/bugdatabase/view_bug.do?bug_id=6973685

[2015-11-15 10:56] justangel commented on #234
hi, in gold edition version 1.60 GFX file index 15 not have any GFX data on it

[2015-11-15 11:03] andreas-eberle opened #241 "In-deterministic behaviour of game with AI"

[2015-11-15 11:05] #241 closed

[2015-11-15 14:07] UnitedHaxor commented on #240
Hi,
I've used https://github.com/jsettlers/settlers-remake/releases/download/v0.1.3-alpha/JSettlers_v0.1.3-alpha.zip

I'm using Windows 7 64-bit and Java8:

D:\Users\United>java -version
java version "1.8.0_51"
Java(TM) SE Runtime Environment (build 1.8.0_51-b16)
Java HotSpot(TM) 64-Bit Server VM (build 25.51-b03, mixed mode)

But it does not work with Java 7 too:
E:\Java\jre7\bin>java -version
ja

[2015-11-15 14:45] UnitedHaxor commented on #240
BTW: It works with Xubuntu 15.04 4 bit

[2015-11-16 00:00] tomsoftware commented on #237
@andreas-eberle : Yes, you are right! Separating game and graphics is very important!

But I have some problems with the current design:
- I need a additional style flag for Trees and decoration cause e.g. "Palm trees" should only turn up in deserts (so don't use {x,y} style) and decoration objects have different styles but not a different behaviour in Game logic.
- Currently you are using loosely

[2015-11-16 01:43] tomsoftware commented on #240
I've seen this bug before and may this is a internal FileDialog() bug and we could use FileDialog() instead?

@UnitedHaxor : I add a small Test Java Class... may you can test this on you Win7 System?

http://www.file-upload.net/download-11047066/test.zip.html

- the "testok.java" uses FileDialog() and should work
- the "testfail.java" uses the JFileChooser() and may fail

use

and

for runing / te

[2015-11-16 15:57] tomsoftware commented on #237
OK... slowly I understand. You try to separate and cover all logic and graphics functionality from the object itself.

You have a 3 things:
- the object (=> `IMapObject`)
- the `MapObjectsManager` (with logic functions for the object)
- the `MapObjectDrawer` (with drawing functions for the object)

The way you are doing this is (I think) confusing and cause problems:
- Objects already have some lo

[2015-11-17 12:27] andreas-eberle commented on #240
@UnitedHaxor: Can you try the tests of @tomsoftware?
Furthermore, can you try to log in as a different user and run the tests or JSettlers with that user? Does this help? Does it help to update your Java 8 to the newest version?

This most likely is a Java bug. It seems they fixed it once (http://bugs.java.com/bugdatabase/view_bug.do?bug_id=6544857) but they also have a ticket with the same issue

[2015-11-17 13:50] andreas-eberle commented on #237
@tomsoftware: You are right about "this is confusing". The system grew a lot and was never really restructured to better fit the needs. Therefore thanks for bringing up this topic.

First of all: why we tried to decouple the MapObjects from both, game logic and graphics:
- Storing only game relevant information is important to keep memory consumption lower and the savegame clean of non-determinist

[2015-11-17 14:01] #143 closed

[2015-11-17 14:02] #189 closed

[2015-11-17 14:02] #190 closed

[2015-11-17 14:15] andreas-eberle opened #245 "Refactoring of MapObjects, MapObjectsManager and MapObjectDrawer and their interaction"
#### Reason
The integration of decoration objects developed in #237 brought to attention that the current MapObject system, including the drawing and management of them, needs to be refactored and unified. At the moment a lot of special case handling is used for their management and rendering.

#### Background - Ideas of the Current System
The current system was build to achieve decouple the MapOb

[2015-11-17 17:40] tomsoftware commented on #245
Just one brainstorming idea: would it be possible to use something like a Union to store all Data for all kinds of objects. So we could separate date and logic:
- Data is stored in a Array of this union-Data-Object
- all kind of map-objects only exists in one instance (or have only static functions)

[code]

benefit:
- it would be very simple to save and load the game (just save/load `AllObjectDat

[2015-11-17 21:13] UnitedHaxor commented on #240
I've just tried both test applications and the result is as you expected. testok works and testfail does not.
I also tried JSettlers.jar running as Administrator, but it shows me the same NPE.
After I updated my java to

java version "1.8.0_65"
Java(TM) SE Runtime Environment (build 1.8.0_65-b17)
Java HotSpot(TM) 64-Bit Server VM (build 25.65-b01, mixed mode)

I tried it again and testfail and JSe

[2015-11-18 04:08] abledbody opened #246 "MaterialInventoryLayout not found when running with Eclipse"
I'm completely new to Java and Eclipse, so I'm wondering why it is that when I run the program it stalls on 'Waiting for Other Players'. I ran Eclipse's debug doohickey and it claims the error is in MaterialInventoryLayout, or lack thereof.

I tried turning the piece of code that called for it into a comment and then it complained that  jsettlers.graphics.ui.layout.WarriorsLayout didn't exist, as

[2015-11-18 10:35] codingberlin commented on #246
This sounds like that you need to run the ant task https://github.com/jsettlers/settlers-remake/blob/master/build.ant#L4 to generate the layout classes from xml.

Maybe this section out of the https://github.com/jsettlers/settlers-remake/blob/master/README.md may help:
[code]

[2015-11-18 13:51] krichter722 opened #247 "jsettlers.network.common.packets.ServerClientSideInteroperabilityTest.testTaskPackets fails due to "AssertionFailedError: expected:<1> but was:<0>""
I get the following test failure running `ant -f build.ant` after `git reset --hard HEAD && git clean -x -f -d` on `master`:

    $ ant -f build.ant
    Buildfile: /mnt/main/sources/settlers-remake/build.ant

    runUnitTests:

    build-subprojects:

    init:
        [mkdir] Created dir: /mnt/main/sources/settlers-remake/go.graphics/bin

    build-project:
        [echo] go.graphics: /mnt/main/s

[2015-11-18 16:59] abledbody commented on #246
@codingberlin When I tried to do that I got the error

    BUILD FAILED
    C:\Users\******\******\settlers-remake-master\jsettlers.main.swing\build\build.ant:98: The following error    occurred while executing this line:
    C:\Users\******\******\settlers-remake-master\jsettlers.common\build\build.ant:26: The following error occurred while executing this line:
    C:\Users\******\******\settlers

[2015-11-22 22:06] codingberlin commented on #140
+1

I really looking forward to this because I often have to choose different PlayerSettings while I'm working on the different AIs.

[2015-11-22 22:09] codingberlin commented on #141
+1

I really looking forward to this, because it is a prerequisite of the feature #140 I really want to use :)
Furthermore this is the basement to handle build a new map-chooser menu for the tons of original maps which becomes available with #238.

[2015-11-22 22:12] codingberlin opened #249 "Recruit Menu"
I as a player and AI implementer would like to get a recruit menu so that I and the AI can choose when to recruit soldiers to be able to wait for level3 in peace times and recruit lower level soldiers in emergency situations.

[2015-11-23 09:47] andreas-eberle commented on #249
Couldn't you do this by stopping the work of the barrack?

[2015-11-23 10:15] andreas-eberle commented on #246
Hi @abledbody,

can you try running the `\jsettlers.graphics\build\buildLayouts.ant` ant script? It should build these layouts (although this should already run automatically).

[2015-11-23 10:30] andreas-eberle commented on #245
I see exactly the disadvantage that you pointed out. The objects have very varying size and it is total C programming. Moreover, the code would get badly readable, as there is nothing like the union for structs in Java. Furthermore, all objects stored in an array are actually not stored in the array. In Java, every object type is always passed by reference and arrays only contain references to the

[2015-11-23 13:29] codingberlin commented on #249
When I play an zero peace time online multiplayer game I have two options:
1) Rush: attack in the early game with to much soldiers my enemy can't handle. Then the level of my soldiers is not so important
2) Win the game in long term where the level of my soldiers counts.

If I play strategy (2) but my enemy plays (1) I've got a problem :-) Then I need to recruit some counter-soldiers.
Normaly my s

[2015-11-23 17:57] abledbody commented on #246
@andreas-eberle
[code]

[2015-11-28 15:01] #231 closed

[2015-11-28 15:02] andreas-eberle commented on #249
OK, you're right.

[2015-12-04 00:56] abledbody opened #252 "Computer will build Woodcutter's huts next to stray trees"
While testing Settler Craters with the AI I discovered that not one but both of the AI players built Woodcutter's huts next to individual trees. ![](http://puu.sh/lIuZj/506b59a869.jpg) Theoretically this would mean that once it has been built it would cut down the tree, and then be an inefficient source of wood from then on.

[2015-12-06 07:28] abledbody opened #253 "Can't build mines on steep hills"
Title says it all. Even if the markers are green, you can't place it.

[2015-12-06 17:54] michaelzangl commented on #253
Can you select geologists/other people that are standing there using a single click?

[2015-12-06 19:12] abledbody commented on #253
@michaelzangl Yes, definitely. It's not high terrain, like in #215 . It's steep terrain, probably the maximum amount of height difference.

[2015-12-06 19:14] abledbody commented on #246
Issue solved because of #251.

[2015-12-06 19:14] #246 closed

[2015-12-06 19:27] michaelzangl commented on #253
@andreas-eberle graphics should send the right position.

[2015-12-09 09:30] andreas-eberle commented on #253
@abledbody: Can you tell us a secific map and location on that map where you experienced this issue?

[2015-12-09 10:07] andreas-eberle opened #254 "AI crash on original user map 512-4-Mountain_Lake"
#### Description

The AI crashs with the stack trace given below. This results in the AI doing nothing.

I experienced the bug on the map 512-4-Mountain_Lake. To reproduce it, you simply need to start the game (I did it with --all-ai). During the first AI action, it will crash.

#### Map-Download
https://mapbase.siedler3.net/down.php?fileid=135

#### Stack trace
[code]

[2015-12-09 11:46] codingberlin commented on #254
I'm at a business trip and will take a look at this when I'm back.

[2015-12-09 18:56] abledbody commented on #253
I'm working on a map called overload, if you expand to the east you'll find some mountains which make building mines difficult. [Get it here.](http://download1080.mediafire.com/q6vtv4soi8yg/z1yy9ycf1vdzgq2/overload.map)

[2015-12-11 20:04] andreas-eberle commented on #141
Hi @adamjryan: Did you have a chance to look at this, yet?

[2015-12-11 21:16] Sylapse opened #255 "Android - separate gameplay into its own activity"
Hi everyone, my first post here. Very excited to find out about JSettlers! :D

Splitting the Android UI into two activities could help to tidy things up in preparation for implementing the remaining UI features. A menus activity to display all fragments related to starting/joining a game. And a game activity for the gameplay, shows the loading screen when started, followed by the game itself.

Ben

[2015-12-11 21:55] andreas-eberle commented on #255
@michaelzangl: Do you see any issues with this proposal? @Sylapse already talked to me an proposed to implement the changes himself.

[2015-12-12 10:49] michaelzangl commented on #255
The main menus currently do not really need to have the landscape in the background. I only added this to increase game startup time: While the user is still in the main menu, the graphics for landscape and trees are already loaded. The same GL context is used in the game.

@Sylapse Feel free to try it, it would be interesting to see how much cleaner it gets.

[2015-12-13 12:47] Sylapse commented on #255
Thanks guys, I'll give it a go. Still trying to work out if I can realistically get up to speed at this point and this seems as good a place to start as any since I'm mainly an Android developer.

[2015-12-25 14:58] krichter722 commented on #247
no longer occurs with v0.1.3-alpha-491-geac312b

[2015-12-25 14:58] #247 closed

[2015-12-25 15:04] krichter722 commented on #170
This is no longer fixed in v0.1.3-alpha-491-geac312b and I can reproduce the issue in v0.1.3-alpha-303-g26bf534. This points to issues with dependencies.

[2015-12-27 16:40] DerKrawallkeks commented on #208
Hey. I'm new to github, sorry if I comment some stupid things. Just wanted to report the same issue, pc works fine, on Android (5.1.1)  looks exactly like on Adzwooly's screenshot.
I'm pretty sure it worked on my old phone, with the previous build of jsettlers on Android 4.1.2 (I'll check again)

[2015-12-28 17:13] andreas-eberle commented on #208
Hey guys,

thanks for your report. Did you only try the release version? Or did you also try to compile and start the current master?
I just tested the current master with my Galaxy S6 and it works with this version. As I'm planning to release a new version during the next days, you'll probably get a fixed version then.

Best regards.

[2015-12-28 21:29] DerKrawallkeks commented on #208
Okay, sounds good. I'm not into Java, so I only used the released version.
Therefore I'm really looking forward to another release version:)

[2016-01-01 16:33] michaelzangl opened #259 "Add error logging system / bug reporting"
Currently, many components log to stdout.

We should improve this. The new log system should:
- Be able to separate logs by components, e.g. graphics, algorithms, ...
- Have the ability to define a log level per component
- Support at least debug, warn and error messages
- Have a central exception and bug report handling:
-- Create a crashreport: new Chrashreport(Throwable)
-- Add details to the c

[2016-01-01 20:05] michaelzangl opened #261 "Map Editor should execute all GUI actions in GUI thread."
[code]

[2016-01-01 23:17] JAPETH007 opened #262 "water works not collecting water"
I am placing water works near water but I keep getting the error message of "Cannot find work_Waterworks.

[2016-01-03 11:32] andreas-eberle commented on #262
Did you place it near a river or near the sea? A waterworks cannot take water from the sea, as that is salt water. Only the water from rivers can be taken.

[2016-01-03 11:45] andreas-eberle opened #264 "Can JavaFX be used for our UIs?"
As our main menu UI is terrible at the moment, we need to develop a new one (see issues #141 and #140). As JavaFX is the new frontend library of Java it was planned to use it for these UIs.

However, it seems like JavaFX is not implemented in the OpenJDK yet. In my opinion, we cannot use JavaFX if we cannot support OpenJDK out of the box.

Therefore this issue is for discussion on how to make this

[2016-01-03 11:51] andreas-eberle commented on #261
is this related to #258? Or is it with the old UI? If it is with the old UI, does it still apear in the better version of #258? If it still exists, let us fix it in #258, as it will replace the old UI.

[2016-01-03 15:01] codingberlin commented on #264
Another yet not solved JavaFX problem is the stretching of the (dynamically generated) background images. ([see this stackoverflow post](http://stackoverflow.com/questions/34556467/how-to-stretch-a-dynamically-created-background-image-in-both-directions-in-java))

I see two advantages of JavaFX:
(1) separation of structure, style and code
(2) JavaFX is supposed to replace Swing in the future

But

[2016-01-04 12:54] andreas-eberle opened #266 "AI destroys own towers at the border to the enemy"
Sometimes the AI (tested with ROMAN_VERY_HARD) destroys its own towers next to the border to an enemy. This causes the AI to lose own ground.

[2016-01-04 12:57] andreas-eberle opened #267 "AI fights early in the game and loses all soldiers"
The ROMAN_VERY_HARD AI tends to fight very early in the game. After the fight no or almost no soldiers are left but no weapon production is established yet. Afterwards the AI is not able to aquire any new land which is required to have the space or resources to build up the weapon production. Therefore the AI is practically dead after that fight.

[2016-01-04 13:01] andreas-eberle commented on #264
I fully agree with you @codingberlin.

Furthermore it seems that we have more development power already experienced with SwingUIs (e.g. @andreasb242).

Therefore I will close this discussion. @codingberlin, you can start with a new SwingUI for the main menu.

[2016-01-04 13:01] #264 closed

[2016-01-04 13:06] andreas-eberle opened #268 "Rebuild main menu as full SwingUI"
Currently the main menu is rendered with custom UI elements build with OpenGL. However, for the main menu, we need a proper UI with scrollable lists, tabs...

Therefore this ticket targets to create a new main menu build as complete Swing UI. (This is a follow up of #141; however, we will use Swing instead of JavaFX).

This also includes #140.

[2016-01-04 13:07] andreas-eberle commented on #141
As discussed in #264, we will not switch to a JavaFX UI as it has to many drawbacks. However, we will rebuild the main menu. I created issue #268 for that.

[2016-01-04 13:07] #141 closed

[2016-01-04 16:48] andreasb242 commented on #264
:-)

[2016-01-05 12:20] andreas-eberle opened #269 "AI throws exception when an AI player has no towers left."
Sometimes the AI throws an exception when it has no towers left.

### Stacktrace:
[code]

[2016-01-06 20:19] andreasb242 commented on #268
I'm working at the Look & Feel. See LookAndFeelSample.java as sample.

The Look and Feel has to be installed like this:
[code]

The main concept: I use Nimbus as Default Look and Feel, so generally all Components look like Nimbus.

Then each component is configured for a specific Look and Feel, e.g. for Labels I create 3.

[code]
Currently nothing is rescaled except the Panel background.
So if a b

[2016-01-07 13:44] #254 closed

[2016-01-07 17:16] #2 closed

[2016-01-09 05:32] Zervox opened #270 "AI spamming certain buildings"
I've seen that the AI leaves very little open spaces, eg cramping as much as it can into as small area as possible, this is quite counter intuitive for forester-wood works areas or even potentially some were placed ontop of wine growery grow space.
I also notice they build ALOT of bakeries even though they might only have 2-3 grain farms, it seems like it does a 1 grain to 4 bakery ratio, also doe

[2016-01-09 10:44] codingberlin commented on #270
Thank you for your feedback!

I structure your feedback in the following issues:
- [ ] optimize space for forester and lumber jacks and eventually their position
- [x] buildings were placed on top of farmers and winegrowers fields
- [ ] optimize ratio between food production buildings
- [ ] optimize number of winegrowers and small temples (best between fast level3 and low material costs for the bu

[2016-01-09 14:00] s3zwirni opened #271 "Set AI working area & destroy AI building"
It's actual possible to set the working area to all buildings of the AI e.g. the wood cutter. Additional it's possible to destroy each AI building by using the crush-button.

Using:
* Windows 10
* Java 1.8.66
* JSettler 0.2 Alpha

[2016-01-09 14:17] andreas-eberle commented on #271
This is actually a "feature" at the moment. The idea is to let you see what the AI does, how it works and detect mistakes it makes or help it when there is a problem or test if that help can improve the behavior.

I will add a comment about this to the news on the website. Thanks for mentioning it. Of course this will not be possible in the future.

[2016-01-09 14:17] #271 closed

[2016-01-09 18:46] Zervox commented on #266
I wanted to reply to this as I've only encountered this once in regards to border towers, I've noticed the AI can also remove towers in the main area of their base(not unlike how some players would do it if their borders are very strong) the problem with this is that the AI does not build castles or large towers bulked together like a human would if they want to have a bit of buffer time against e

[2016-01-09 18:48] Zervox commented on #262
I'd say he didn't build it around rivers as I've not been able to replicate an error like this.

[2016-01-09 19:03] Zervox commented on #267
I've not seen the AI do this yet unless there is enemy border very close to theirs, you can force the AI to react aggressively by just having soldiers pass the borders then retreat, the ai will not stop the units unless there are soldiers crossing the border elsewhere after you've made this taunt.

[2016-01-09 23:11] execthis opened #274 "Fatal error in libGL.so.1 during startup (SIGSEGV in libGL.so)"
Hey mates

There seems to be a problem running JSettlers on Linux with OpenJDK 8 and in my case the depending libGL from nvidia. I was just setting up anything to start my personal duty  / contribution for this awesome project! (Y) :) Same result with OpenJDK 7 as excpectedj bc of GL library. Is someone having the same trouble during startup?

**System:**
Arch Linux with GDM 3.18.2
Linux ---- 4.3.

[2016-01-10 19:37] andreasb242 opened #275 "Deadlock within Game"
I found a deadlock within the game. I could reproduce it no within the Debugger. I happend on my own Swing UI Branch, but I didn't change anything in the Game logic, and the new Swing UI Isn't active yet.

I could extract the Stacktrace of all Threads. I don't know the logic enough good to find the error.

[code]

[2016-01-10 20:29] DerKrawallkeks commented on #208
The problem is still there on the newest release-version (0.2). I'm wondering about one thing: when I select one building on the map, on the top left corner there's the buildings right symbol. Since I can't work with the sourcecode, I can't do research on that, but I thought it probably uses the same file.
Therefore, it shouldn't be too difficult to solve the problem. Please someone do it;) It wou

[2016-01-10 20:31] DerKrawallkeks commented on #172
The problem never occurred to me. But a similar one: the game crashes when changing to another running app. (Not a problem if you save before)
Just wanted to report;) I guess that's normal

[2016-01-10 20:36] DerKrawallkeks commented on #30
Same "problem". Well, not a problem, but yea. We need more menus on android. The game is hardly playable, after you've done the basic infrastructure, because of missing advanced menus. I'd be even happy if the original "HUD" would be included in the android version, even though it's a bit small then. But better than nothing;)
I think Android will be the most important platform in the end!..

[2016-01-10 20:41] DerKrawallkeks opened #276 "Android '1/2/3' button not working"
I hope I'm not spamming the issue section, just delete my issues if they've got an obvious reason (like noone has been working on the certain fuction).

Issue: The 1/2/3 button on the bottom right corner isn't working. The problem is that I don't know what it's supposed to do..:)

Xperia Z3 Android 5.1.1

[2016-01-10 20:44] DerKrawallkeks opened #277 "Android 'Map-button' not working"
The green Map-like button on the bottom right corner of the HUD isn't working. Is it supposed to have a function? It would be useful..
:)

Xperia Z3 Android 5.1.1

[2016-01-10 20:47] DerKrawallkeks opened #278 "Android Game-speed slider/setting not working"
The game-speed slider doesn't have any influence on the game speed, even after saving/loading/restarting whatever.

Xperia Z3 Android 5.1.1

[2016-01-11 13:09] DerKrawallkeks opened #279 "Android low fps after fight"
I'm getting very low fps (around 10) after a fight of just a few soldiers. I did the fight immediately after starting the game, without building anything.
Before the fight starts, I've got 50-60fps.
Tested on powerful phones (Xperia Z3 and Galaxy S4).

The CPU does not run on max, even after the fight. If I move to unknown (black) parts of the map, the frame rate does not climb like expected but s

[2016-01-11 13:19] DerKrawallkeks opened #280 "Do not print the same message multiple times."
Hey:)
I don't think it's necessary to have a notification for each hit that a soldier takes. Doesn't sound good and spams the notification section. By the way..please make notifications disappear after a few seconds if possible:)

[2016-01-11 13:22] DerKrawallkeks commented on #208
Works fine on Samsung Galaxy S4 (Android 5.0.1), but does not on Sony Xperia Z3 (Android 5.1.1)
Interesting!..

[2016-01-11 16:03] Zervox commented on #280
it does the same on PC, besides this is under development, it's the same thing with woodworker can't find work etc it gets spammed, I think this is done atm for debugging.

[2016-01-11 20:36] DerKrawallkeks commented on #280
Okay, thanks

[2016-01-11 23:51] Zervox opened #281 "Making map player number problem"
Creating a map with lets say 10.
reducing amount of players through settings requires restarting the editor for the place object for player to update, however you can still accidentally place objects for them causing the map to go into endless load in game if you forget to restart the map editor.
There is no error related in the map error lists even after restarting the editor.

This can however b

[2016-01-12 10:20] michaelzangl commented on #275
Do you know which threads really had the deadlock?

[2016-01-12 10:22] michaelzangl commented on #276
It is supposed to be a placeholder to just reserve space for one button (for now).

[2016-01-12 10:32] michaelzangl commented on #281
Two Problems here: The map editor not checking the max player number and the game logic not aborting a load on an invalid file.

[2016-01-12 14:35] Zervox commented on #279
Considering this is related to fights, could possibly be AI or perhaps arrows not getting cleaned up?

[2016-01-12 15:37] krichter722 opened #282 "Improve feedback if jar isn't started in unzipped directory"
If `java -jar JSettlers.jar` is invoked outside the unpacked zip archive created in `target` a dialog (probably a `JOptionPane`) with `settlers-folder-still-invalid` is displayed and `java.io.IOException: Not a resources folder: /mnt/richtercloud/sources/settlers-remake/resources in /mnt/richtercloud/sources/settlers-remake` is logged to console which makes it possible to guess what's to do, but s

[2016-01-12 16:41] DerKrawallkeks commented on #279
I checked, it also happens in multiplayer games. Arrows are cleaned up properly.
Try it. You'll just have to fight for half a minute.

One guess was that the notification section collects more and more old messages, but that's just a pure guess!
:)

[2016-01-12 21:14] andreasb242 commented on #275
No.

I only recognized there are all threads waiting, which has to be a deadlock...
It is reproducible, and it has to do something with the timing, without debugger it's much easier to reproduce...

[2016-01-13 10:36] andreas-eberle commented on #282
@codingberlin: With the new UI, you could improve the error reporting when the resources folder isn't found.

[2016-01-13 10:44] andreas-eberle commented on #274
@michaelzangl: Can you investigate this further? Could it be an issue with JOGL?

[2016-01-13 10:48] andreas-eberle commented on #281
@andreasb242: Did you implement a check for the player number in your new map editor PR?

[2016-01-13 10:48] andreas-eberle commented on #281
@andreasb242: Did you implement a check for the player number in your new map editor PR?

[2016-01-13 10:49] andreas-eberle commented on #208
It also works on my Galaxy S6. @michaelzangl: Do you have an idea what could cause this?

[2016-01-13 10:52] andreas-eberle commented on #275
@andreasb242: Can you tell me how exactly you reproduce this?

[2016-01-13 13:30] michaelzangl commented on #274
It is pretty hard to debug. It seems to be a jogl issue since JOGL checks the arguments passed on to the graphics driver.

@execthis Can you enable core dumping and upload the core dump? We might then be able to work around this issue.

[2016-01-13 18:31] andreasb242 commented on #281
No, there are multiple errors with the player number:
* No warning if the user does not exist (it's only checked if the ground and the settlers are the same player)
* The user selection combobox is not updated, if the user count changes
* If you import a map with more than 16 Players it cannot be loaded

Should I fix it in the enhancement-new-mapeditor-ui branch?

Why is there a limit to 16 player

[2016-01-13 18:34] andreasb242 commented on #275
I loaded a map created by me (it was my import test). I'll send you the map.

[2016-01-14 09:19] execthis commented on #274
@michaelzangl I will upload the core dump. Its something between JOGL and the nvidia based libGL. Im pretty sure that it would work perfectly with mesa libGL.

[2016-01-14 22:39] andreas-eberle commented on #275
Thanks, I will have a look at it.

[2016-01-14 22:41] andreas-eberle commented on #281
@andreasb242: You could fix it in a branch based on the enhancement-new-mapeditor-ui branch. After I merged that into the master, we can then have a look at these fixes.

Regarding the number of players: The game logic should be able to handle up to 127 players without any adaptions. Maybe the rendering of the soldiers could have problems... @michaelzangl, would do you say?

[2016-01-14 22:50] andreas-eberle commented on #277
Actually, it is supposed to have a function one day... at the moment it is not implemented yet.

[2016-01-14 22:50] michaelzangl commented on #261
Partially solved in  #272

[2016-01-15 00:11] michaelzangl commented on #281
GUI currently uses 11 player colors. After that, the colors repeat.

The GUI can handle player numbers up to 127 (some get the same color). I don't think we need more.

[2016-01-15 02:18] Zervox commented on #266
After further testing, it seems at one point it will not only destroy border towers, but it will destroy them for whatever reason I cannot see until it has no towers left causing it to idle even though it has all the resources and buildings to expand or keep attacking, but it just idles troops keeps staying in base, placing a tower for them will cause them to build again and attack, but it will ev

[2016-01-15 06:06] codingberlin commented on #266
Could someone upload a replay-file and tell me the time(s) when an AI destroys towers next to the border to an enemy?

Currently I implemented the AI as follows:
- destroy hinterland towers -> to get the swordsman back to occupy another tower
- destroy towers which are not in the main land (partition) of the AI -> in the most cases the enemy would re-occupy the occupied tower which should be preve

[2016-01-15 14:34] andreasb242 commented on #281
127 are enough for sure, but 11 are to less, because of the import of of existing maps...

Ok, I'll create a new branch for this player fix.

@andreas-eberle You may assign the ticket to me?

[2016-01-16 11:33] andreasb242 commented on #282
I would like to create something like a wizard, which shows the user what he has to do to bring up JSettlers working.
What do you think?

![check-dialog](https://cloud.githubusercontent.com/assets/822958/12372148/510cbd3a-bc4d-11e5-86e7-24ce8b04fd73.png)

[2016-01-16 12:20] andreas-eberle commented on #282
@andreasb242: I'm not sure if such a wizard would be an improvement.

I think directly showing what's the problem when there is a problem, would be the more direct way. E.g. The user that simply extacts the zip file, like it is described in the manual, will never need to know about the possibility that it might not work when you start it from within the zip file. So there is no point in confusing

[2016-01-16 12:22] andreas-eberle commented on #266
@Zervox: That the AI idles when is has not towers left is a feature: When you have no towers left, you lost the game and therefore your chance to interact with it (does not work for normal players, yet).

[2016-01-16 12:25] krichter722 commented on #282
While I agree that there no _need_ for such information, it doesn't hurt to provide it and don't understand what could be confusing about it. Furthermore, I - and that's very extreme and no one has to agree (the next 10 years ;)) - think that everytime someone has to look into a manual if a problem could be handled by software feedback a design error is involved.

[2016-01-16 12:37] andreas-eberle commented on #266
@codingberlin: You can reproduce it by playing the current master (418f5f6eafef6a2aea03a07ceb93937ab9d1407d) with options
```--all-ai --fixed-ai-type=ROMAN_VERY_HARD```

Play the map "6 players fun" and fast forward to about minute 33. Around this time, the yellow player will destroy multiple towers at his border to the blue player.

I think this is better for you than a replay, as it should be al

[2016-01-16 12:43] andreas-eberle commented on #281
@andreasb242: Unfortunately, I cannot assign you the ticket (github...). Nevertheless, feel assigned to it ;)

[2016-01-16 12:47] andreas-eberle commented on #282
@krichter722: If agree with your position on the manuals. But that is also exactly, why I would not show the user any information he will never need. In the example picture above, this information would be the "green ticks" (and the text beside them). If something is not working, I, as a user, don't want to know the parts that are working...

It doesn't make me much happier to see I managed to get

[2016-01-16 13:02] krichter722 commented on #282
@andreas-eberle Agreed. Displaying a dialog with a useful error message (and instructions if possible) if and only if the jar is invoked in a directory where it can't resolve resource pathes relatively it a better solution.

[2016-01-16 17:55] andreasb242 opened #285 "Translation with .po files"
JSettler should use the .po format for translation.
It's a common format with a really good tooling, and it should be easy to replace the existing property files.

Gettext (should be easy to implement, then no library is needed)
https://en.wikipedia.org/wiki/Gettext

Common translation editor
https://poedit.net/

Example:
[code]

[2016-01-17 01:43] Silentspy opened #286 "Create a Discord?"
For communication around Jsettlers! :+1:

[2016-01-17 04:32] abledbody commented on #286
Ooo. Yes please!

[2016-01-17 08:25] codingberlin commented on #281
(ignore my assignment ... it was a wrong click)

[2016-01-17 11:18] #170 closed

[2016-01-17 15:04] codingberlin commented on #269
This was fixed with the last release

[2016-01-17 15:04] #269 closed

[2016-01-17 15:10] andreasb242 commented on #204
In the new branch there a global error handling. If then still an error occur which prevent the window from showing, it will display an error.
So this should be solved when the branch is merged.

[2016-01-17 16:03] codingberlin commented on #266
Thx for the map and time. I was able to find and fix the bug.

[2016-01-17 17:53] tomsoftware opened #291 "Woodcutter can select the same tree to cut"
If a tree is selected by more then one woodcuter the cutting animation is played for both but only the first returns a tree, the second went home without.

[2016-01-17 19:28] Silentspy commented on #291
very easy to reproduce, simply just have 2 wood cutters near eachother and they both share the same work queue.

[2016-01-18 10:27] andreas-eberle opened #292 "DebugColors aren't working any more"
The debug colors are broken in master since the merge of #283.

[2016-01-18 16:49] aligator commented on #208
No.

I would try to do some debuging, but I'm not very experienced With android development.

Yesterday I tried to setup the workspace, but I couldn't get it working.(some time ago I got it, but I don't have this workspace anymore...)

[2016-01-18 21:57] codingberlin commented on #268
Current state:
- you can open a new single player game and set the AIs, your map slots, your team, your amount of start resources (does influence original maps only), reduce the number of players and start the game
- you can create a multiplayer game, which will be displayed in the old swing UI

ToDo:
- manage joining the multiplayer game
- display joined players in the host multiplayer panel
- st

[2016-01-18 21:58] codingberlin commented on #268
@andreas-eberle, @michaelzangl When I quit the game within the new GUI with q I often get the following error message.
I guess I need to shutdown something to avoid that error. Do you have an idea?
[code]

[2016-01-18 22:00] codingberlin commented on #268
@andreas-eberle What do you think?
Should I enhance the multiplayer protocol  to send changes in the slots, teams, AIs in an open game or should I finish this issue without that in order to review and integrate the UI fast and add this in a second iteration?
I could argue for both ways.

[2016-01-18 22:08] michaelzangl commented on #268
I think that the cleanest solution to do this would be to add the new network code in a new branch.

It is more difficult to test but if you feel up to writing test cases for that, you can simply create a new branch with the networking code enhancements and test cases. We can then merge that branch in master independent from the new UI and I can start working on the Android side.

[2016-01-18 22:55] andreas-eberle commented on #268
Regarding the crash: I will need to look into this more closely. I guess, it is "caused" by a change of mine. Since that change, the logic cleans up its stuff correctly, but the graphics sometimes tends to try to render after the cleanup and crashes then. However, I've never seen a SIGSEGV caused by that, only "ignorable" exceptions...

Regarding the network changes: I also think this should be ex

[2016-01-18 22:58] andreas-eberle commented on #208
I was able to reproduce it on a tablet. Unfortunately I cannot access it atm. @michaelzangl: Can you reproduce it with one of the tablets you have?

[2016-01-18 23:04] andreas-eberle commented on #204
@krichter722: Some questions:
* Did you start the game before (and select the folder with the gfx and snd folders)?
* Did you try to use ALT+Tab to see if the window switched to the background? The issue is that the first "window" is actually a dialog and therefore doesn't appear in the taskbar (where the program icons usually appear). Therefore it might happen that it switches into the background

[2016-01-18 23:37] #266 closed

[2016-01-19 05:47] codingberlin commented on #268
Ok I will leave Network changes out of this Issues and do them in another Issue and branch

[2016-01-19 09:18] michaelzangl commented on #208
This happens when the app was not correctly packed. I am currently working on a new system to add those icons, it should not be a problem when that is finished.

[2016-01-19 11:17] tomsoftware opened #293 "Stone is not harvested (@ 2Hours.map)"
In the original map [Siedler3\Map\SINGLE\2Hours.map] one stone can't be harvesded (see image)
[tested with different stonecutter-huts]

=> the hut calls: "This Stonecutter can't find no more stone"

![stome](https://cloud.githubusercontent.com/assets/3290888/12417124/29a5a148-bea6-11e5-94f1-6e78f828f2fa.jpg)

[2016-01-19 16:19] DerKrawallkeks commented on #208
Okay great, looking forward to it!

[2016-01-19 17:00] andreasb242 commented on #268
@codingberlin Can you look at the hs_err_pid*.log?
Usually you see the cause of the VM crash in this Logfile...

[2016-01-19 17:07] andreas-eberle commented on #268
If you rename the file from *.log to *.txt, you should be able to attach it here. (Github only allows .txt files, not .log files...)

[2016-01-22 21:43] codingberlin commented on #268
Today it happened again. Here is the hs_err_pid as txt
[hs_err_pid887.txt](https://github.com/jsettlers/settlers-remake/files/101479/hs_err_pid887.txt)

[2016-01-22 21:51] michaelzangl commented on #268
AWT-AppKit? This is bad.

Last unusual thing seems to have been a NPE in jsettlers.logic.objects.ProgressingObject.getStateProgress().

[2016-01-22 22:00] andreasb242 commented on #268
May this Pull Request is already the fix for this Bug?
https://github.com/sgothel/jogl/pull/79/files?diff=split

The important part of the Stacktrace:
[code]

_platform_memmove is the point where it crashed, but for sure not the reason...

[2016-01-22 22:10] michaelzangl commented on #268
memmove is simply moving memory out of range. One problem seems to be that graphics is still rendering while logic is shutting down.

We can work around this by avoiding it. The JOGL PR might fix that. But the JOGL guys are not really good at maintaining it, so it will take a lot of time until it is available.

[2016-01-22 22:59] codingberlin commented on #268
![bildschirmfoto 2016-01-22 um 23 47 58](https://cloud.githubusercontent.com/assets/6422616/12525261/6525b4e6-c163-11e5-8b65-bf8a93561c19.png)

The current state:
- you can open, join and start multiplayer games
- in single player you can change everything (slots, AI, number of players, ...)
- in multiplayer games you can't change anything because this is missing in the network protocol and will b

[2016-01-23 13:48] codingberlin opened #297 "Double-click to select should work armed service branch wise"
When double-clicking a level1 swordsmen not only other level1 swordsmen but level2 and level3 swordsmen should be selected, too.

Same for bowmen and pikemen both.

[2016-01-23 13:51] codingberlin opened #298 "meeting place of barracks should be settable all over the map"
In distinction to e.g. wood cutters where it is good that the gathering point can't be set too far away it is not helpful that you can set the meeting point of the barrack only near by.

e.g. on maps like river or alien I would like to set the meeting point to my only entrance to my land in the middle game and later when I attack directly to my enemies land.

[2016-01-23 13:54] codingberlin commented on #104
+1 Java8 for settlers.main.swing and settlers.mapcreator which does not run at android

[2016-01-23 15:55] andreasb242 commented on #211
@codingberlin I think this bug can be closed? It's working :-)

[2016-01-23 18:08] #211 closed

[2016-01-24 11:23] andreasb242 commented on #195
This will be fixed with #268

[2016-01-24 11:24] andreasb242 commented on #204
This should be fixed with #299

[2016-01-24 11:26] andreasb242 commented on #240
This should be fixed with #299

[2016-01-24 13:41] michaelzangl opened #302 "New resource management"
Currently, jsettlers manages those resources:

- The resources directory containing the maps, building.xml-Files, savegames ...
- The GFX/SND/MAP directory of Settlers 3
- The config.prp with the path to those directories.

I suggest changing this and handling those 3 categories:

## User settings

In this directory (`%APPDATA%/.jsettlers`, `~/.jsettlers`) we can store the settings for the current

[2016-01-24 17:51] DerKrawallkeks commented on #298
I thought the same thing. But here's the problem: do we really want to change all the little things that could be better than in the original?
Another example: You could include a lot of statistics or messages that help you manage your economy a lot better.
But do we want that?

I don't even think that we shouldn't, but you should really think about it..

[2016-01-24 21:42] michaelzangl commented on #298
This is one of the things we even intended to do: Make things better.

[2016-01-24 21:47] krichter722 commented on #298
Another example: You could include a lot of statistics or messages that help you manage your economy a lot better.
But do we want that?

In doubt, helpers can be implemented with an option which can be configured by the player or the developers when there's need for fine-tuning/balancing. Currently (before the first release) I wouldn't bother implementing as many great tools as come to mind.

[2016-01-26 18:21] andreasb242 commented on #302
On Windows %APPDATA%/.jsettlers is the right folder, but on Linux the folder ~/.config/jsettlers should be used. There are already to much Applications which save the settings directly to the root of the home folder.
On Mac OS X the default save folder is: ~/Library/jsettler

Example code (out of a working example):
[code]
I usually support a portable version, which saves the settings relative to

[2016-01-27 10:56] andreas-eberle commented on #302
I don't think it is a good idea to bundle the resources folder into the .jar file. When we keep them seperate, it will be easier to provide a incremental update (e.g. only change the jar file, if the resources stay the same). I see no advantage of packaging the resources into the .jar file. It only makes it (much) bigger. Additionally, the map files should be accessible in a folder and not "hard c

[2016-01-27 11:00] andreas-eberle commented on #268
@codingberlin: Wow, this looks great already!

[2016-01-27 11:03] andreas-eberle commented on #298
@DerKrawallkeks: Yes, we really want to improve the game, so this issue is definitely in. Stuff like extended statistics could be added as well, but like @krichter722 said, stuff like that is far down the priority list.

[2016-01-27 11:04] #292 closed

[2016-01-28 21:08] #281 closed

[2016-01-31 14:49] #267 closed

[2016-02-12 20:33] Fantu commented on #274
I have the same error on gaming pc with nvidia proprietary driver, instead on notebook with intel opensource driver works

[2016-02-20 17:13] jimnordb commented on #286
Any update on this? :dart:

[2016-02-24 16:54] adrianer commented on #274
The problem seems not limited to the OpenJDK - happens with with Oracle's Java too:

Java(TM) SE Runtime Environment (build 1.8.0_72-b15)
Java HotSpot(TM) 64-Bit Server VM (build 25.72-b15, mixed mode)

NVIDIA driver 361.28 on Kubuntu 14.04.

[2016-03-02 11:40] andreas-eberle commented on #286
I didn't know Discord as of yet. I will have to look into it.

[2016-03-03 14:29] jimnordb commented on #286
Awesome! i can help if set it up if you need so, its rather straight forward.

[2016-03-06 13:18] andreas-eberle opened #307 "Implement teams"
Soldiers of players in the same team should not attack each other.

[2016-03-06 13:18] andreas-eberle opened #308 "Implement peace time"
During peace time, soldiers can only attack enemies in their own land.

[2016-03-06 14:05] codingberlin commented on #308
While peactime
- soldiers can only attack enemies in their own or in their team mates land
- thefts can not steal goods

Suggestion for peacetimes like they are played online with the original settlers:
- no peace time
- first 30 min
- first 60 min
- first 90 min
- first 120 min
- level 2 peace time

**level 2 peace time**
Every player is allowed to attack its enemies when its own first weapon bra

[2016-03-06 18:17] michaelzangl commented on #308
Suggestion for level 2 peace time:
- Peace time ends as soon as any player has reached level 2.

[2016-03-06 22:01] homoroselaps opened #309 "way finding algorithm results in jams"
As the way finding mechanism chooses always the shortest route, this results in jams. The settles never choose a different one, even if they have to wait a long long time.
Builders in the way are a common problem, which causes the building process to slow down drastically.
![commonbuilderjam](https://cloud.githubusercontent.com/assets/7871498/13557335/d740aa42-e3ee-11e5-8bc5-5c9b5f57fa00.png)

[2016-03-06 22:09] homoroselaps commented on #309
My proposal: if a settler cannot walk to the next path for a long time, have a look for free patches next to it, choose one by random and calculate a new path.

[2016-03-11 19:56] iandioch opened #310 "GUI disappears on game start"
I tried to start the game, using both assets from the Amazons demo, and also from a physical CD, and both times the following happened:
- I started the JAR
- The menu showed ok, with the button assets showing fine
- I started a new single player game with several different maps, it didn't seem to make a difference
- When the game loaded, it would display fine for a split second
- The left menu wou

[2016-03-15 11:00] andreas-eberle commented on #310
Hi @iandioch,

can you send me the logfiles? They are in the folder `resources/logs`. (andreas.eberle [at] settlers-android-clone.com)

Best regards

[2016-03-15 11:07] andreas-eberle commented on #309
Yes, I know that problem very well... It can be divided into two problems:

1. The situation with the builders should be locally fixable and normally, settlers should already walk around single other settlers standing in there way. I will have a look at that again.

2. The general issue with jams caused by many people using the same shortest path cannot be fixed that easily (at least I didn't find

[2016-03-15 13:55] andreas-eberle commented on #309
I was able to fix part 1 in #312.

[2016-03-16 20:19] iandioch commented on #310
Sorry for the delayed response. I didn't know the logs there existed. The relevant part of the log is below.

[code]

As it said I was missing graphic file 13, I looked into the Gfx folder, and saw that I indeed had a file `Siedler3_13.f8007e01f.dat`. However, most of the other files started with a lowercase `s`. I renamed the file to match, and the game played fine.

Sorry for the bother! Looking

[2016-03-16 20:57] andreas-eberle commented on #310
Hi @iandioch,

thanks for your answer and your investigation. Of course, the game should be able to handle upper case file names.

@michaelzangl: Can you implement this?

Best regards

[2016-03-16 22:42] iandioch commented on #310
@andreas-eberle I would love to do this fix myself if you give me some time to get acquainted with the codebase.

[2016-03-19 10:44] aligator opened #314 "Development guide -> "gen" missing in jsettlers.graphics not jsettlers.common"
hi
I just tried to setup the project and I noticed the following:
In the Wiki:

but jsettlers.common had the gen-folder.
I noticed that it was missing in jsettlers.graphics. After refresh of jsettlers.graphics it worked.

so could you add this to the wiki?

[2016-03-20 17:31] andreas-eberle commented on #314
Thanks for the hint. I fixed the wiki page.

[2016-03-20 17:31] #314 closed

[2016-03-20 17:33] andreas-eberle commented on #310
@iandioch: Feel free to do so. I'm looking for your PR. If you have some questions, feel free to ask. As I cannot assign you, I cleared the assignee for now.

[2016-03-24 23:26] andreas-eberle opened #315 "Make player colors choosable"
This issue requires several adaptions:
* Adaption of the rendering to make it possible to change the player colors on game setup
* Adaption of the new Swing Main Menu to make it possible to choose the colors.

[2016-03-26 20:49] homoroselaps opened #318 "Change short to int"
lets change all occurrences of short to int - for better consistency and "better" performance
[https://stackoverflow.com/questions/14531235/in-java-is-it-more-efficient-to-use-byte-or-short-instead-of-int-and-float-inst](url)

[2016-03-26 21:06] michaelzangl commented on #318
Most places using shorts are using them to actually save memory. Graphics uses 16 bit colors (5551) to store images.

But I agree to change more short to int as long as the values are used on the stack. ShortPoint2D has historic reasons as well - we do not save anything by keeping it a short value.

But please consider if that value even needs to be a number. Players are better represented by a "P

[2016-03-26 22:31] michaelzangl commented on #310
@iandioch Which version of the settlers files are you using?

[2016-03-26 23:12] andreas-eberle commented on #318
Using short instead of int has not only history reasons, in fields and arrays this helps to keep the memory footprint down to a value that can run on Android devices.

The broad usage of shorts in the remaining code and method arguments is to ensure type safety. If a method can only take a short value, where a short value is saved later on, I don't have to check the bounds of the incomming integer

[2016-03-26 23:48] andreas-eberle opened #319 "Random crash when switching to full screen"
I just ran into a crash of the JVM when I switched to full screen. I attached the crash dump. As it only appeared once as of yet, I don't know how to reproduce it.

EDIT: This happend on the current master.

[hs_err_pid3188.txt](https://github.com/jsettlers/settlers-remake/files/190698/hs_err_pid3188.txt)

[2016-03-27 00:23] andreas-eberle commented on #319
Just happend again. It seems that it is problematic to switch to full screen when a lot of messages are incomming (I replayed a large game with a lot of "cannot find X messages" beeing displayed). During replay the messages are also incomming very fast, as the game logic is running on max speed.

[hs_err_pid912.txt](https://github.com/jsettlers/settlers-remake/files/190708/hs_err_pid912.txt)

[2016-03-27 00:29] andreas-eberle commented on #319
This might be caused in correlation with the newest Oracle JDK 8u77. I didn't have this crash before and now (after I switched to the new JDK today) I can reproduce it very often.

[2016-03-27 06:37] codingberlin commented on #319
I had these crashs very often with the old swing GUI but never with the new.

[2016-03-27 09:24] andreas-eberle commented on #319
I can confirm that. I cannot reproduce it with the new swing main menu.

[2016-03-27 21:56] michaelzangl opened #322 "runAiDifficultiesIT randomly failing."
Only one of the runAiDifficultiesIT tests failed.

https://travis-ci.org/jsettlers/settlers-remake/builds/118875152

[2016-03-30 09:37] JKatzwinkel commented on #280
Avoiding rapidly repeated messages from buildings is not a problem because buildings don't move. But attack messages don't come from stationary positions, and this necessitates heuristics for determining whether an incoming message reports a known incident or a different attack. I feel like I achieved satisfactory results by ignoring all attack messages that originate from within a [*arbitrarily c

[2016-03-30 23:07] homoroselaps opened #330 "Sort Class Members"
The member order of many classes is arbitrary and prevents from good orientation in the code base.
A one time Member sort in many classes would solve these problems.

[2016-03-30 23:09] homoroselaps commented on #330
This will lead to immense merge problems with local branches. Which could be solved by sorting the files in the same order before merging.

[2016-03-31 06:22] writeitstudios commented on #208
Remains an issue on tablets - I'm using the Galaxy Tab A (T-555) and the building icons are not being shown either.

[2016-03-31 20:26] michaelzangl commented on #330
Which order do you want to sort the members in?

I am strictly against an alphabetical order. Currently, most members are ordered ins some way (general->specific, important->unimportant, final->non-final, ...). I know we are not consistent on it but we would gain nothing by sorting them in any automated way.

[2016-04-01 02:40] iandioch commented on #310
Sorry for the lack of response on this. If you can go ahead with it, do it; I won't have any free time in the near future.

I was using assets from a physical copy of the game. The number it references on the disc and on the sleeve is `ESS373/D`, if that means anything. It's an Ubisoft 2 CD version, as was the norm 15 years ago :)

[2016-04-01 19:02] andreasb242 opened #332 "Label Textures (Graphics)"
The Labels of the Settler UI Should be resizable, because different dimensions are needed for the UI.
The original game only has 3 type of labels, so we should create similar looking but "scalable" images.

The graphics should be split up into different parts:
* Background, which is repeatable (I used some free stone Texture, stretched it, and applied some speed filter)
* Some half transparent for

[2016-04-01 19:21] abledbody commented on #332
Is there a way I can get ahold of the original textures for the buttons and backgrounds, ect? Making them repeatable should be trivial.

[2016-04-01 20:00] michaelzangl commented on #332
We can access them but the main problem is a license issue: We do not want to pack any original files with our game.

I like the idea of creating our own stone background. Doing this should not be too hard and we can reuse it easier. I could also think of some marble texture for the background. We can also update the color scheme to be a bit more modern, make the button corners a bit round, make b

[2016-04-01 20:08] andreasb242 commented on #332
OK, Michal was faster...

I think this is not allowed, because if we do this, we have to distribute images which are based on original one, this is may a license problem.

So you have to create new images, I have choosen some stone texture as base.
Here the ticket: #268
here you can see the label on the Original settler background (not scaleable): https://cloud.githubusercontent.com/assets/822958/

[2016-04-01 20:16] michaelzangl opened #333 "Race condition on stop while settler is dying."
If a settler died while sending the stop command, a NPE occurs:

[code]

[2016-04-02 10:31] andreas-eberle commented on #330
I agree with Michael. In the game logic classes, the order is mostly oriented on having methods close to their usages so you don't have to jump through the whole file to find them / work on them.

Furthermore, in Eclipse, the "Outline" view shows all class members. You can also sort them and hide some types of members you don't want to see. I guess there is something like this in most IDEs. Maybe

[2016-04-02 21:28] homoroselaps commented on #330
I am using this Outline already, which is not so useful any more if you have 150+ entries. If you would know which direction to scroll I think it might be helpful aka sorted methods in code. I tried sorting them by hand by its way to much work to get them in a logical order. Maybe you know some tool, where I can move whole methods?

[2016-04-02 21:35] michaelzangl commented on #330
In Eclipse, go to the "Outline" view.

Drag a method/member to change the order.

Select + `Shift` + `Alt` + `R` to rename.

You can also sort the outline view without changing the source (Press the A/Z button)

[2016-04-02 21:36] homoroselaps opened #335 "Code question"
I am having serious trouble understanding what the intention of this code is. It may let some soldiers stop going to the requestedTargetPosition if they are already in state PATHING. May @andreas-eberle or someone else help me with it?

jsettlers.logic.movable.strategies.soldiers.SoldierStrategy
[code]

[2016-04-02 22:03] michaelzangl commented on #335
This code aborts the current path on some conditions, mainly that the target of the path is no longer there.
Some cases in which this might happen:
- Soldier wants to occupy a tower but the tower gets destroyed
- Enemy around the soldier was found (this is the annoying behaviour of soldiers going after enemies even if you told them not to...)

Some things that may help you understand this:
rename

[2016-04-02 23:53] abledbody commented on #332
I have made the following:
![settlermarble_final](https://cloud.githubusercontent.com/assets/15258765/14229806/262c8dd8-f8f3-11e5-9cf6-1e2630ba8439.png)
Do with it what you will. The only stipulation about the texture I've used is that it must not be distributed as anything other than part of the game.
Next up: Buttons...

[2016-04-03 00:38] abledbody commented on #332
Alright, so, I did a few things.

↓ High quality texture, just used a black and white version of the original. ↓
https://cloud.githubusercontent.com/assets/15258765/14229874/f70258ea-f8f6-11e5-8717-e18e9030704e.png

↓ Modified Background flourish, to match the original colors better. ↓
https://cloud.githubusercontent.com/assets/15258765/14229877/f78ae67e-f8f6-11e5-8e73-3913d5486e94.png

↓ Brighten

[2016-04-03 07:16] andreas-eberle commented on #268
Fixed with e6b58eb.

[2016-04-03 07:16] #268 closed

[2016-04-03 07:16] andreas-eberle commented on #140
Fixed with #268.

[2016-04-03 07:16] #140 closed

[2016-04-03 08:21] andreasb242 commented on #332
Ok, thank you, I will try how it looks. Can you may also create the button border (3D-Effect?) in a separate image?

[2016-04-04 07:41] abledbody commented on #332
So, this is what I came up with for buttons, but I've taken some precautions just in case.
↓ "Hard Light" overlay. Use this only if you can replicate the Hard Light shader. ↓
![buttonized outline](https://cloud.githubusercontent.com/assets/15258765/14240917/38154da4-f9fd-11e5-80df-a5a774b11665.png)

↓ Soft transparency. If you can't do that, just use this as a normal image to go over the backgroun

[2016-04-04 07:48] abledbody commented on #332
Oh, and I wasn't quite happy with how the background texture looked all put together, and I realized why. Here's a more contrastive version, hopefully it looks better.
https://cloud.githubusercontent.com/assets/15258765/14241135/c78e4f3e-f9fe-11e5-97d9-8c373213b404.png

I also changed the scale to what I think is the appropriate size.

[2016-04-04 09:52] #335 closed

[2016-04-04 09:53] michaelzangl commented on #330
If there are no more questions, I would mark this message as resolved.

[2016-04-04 13:20] michaelzangl opened #336 "Convert line endings to Unix"
There are several files with windows line endings. I would like to wait with converting some of them until we do not have merge conflicts with active branches.

[code]

[2016-04-04 22:52] michaelzangl commented on #208
Fixed in #337

[2016-04-04 23:47] michaelzangl opened #339 "Use visitor pattern for iterating over areas."
Currently they allocate tons of ShortPoint2D objects.

We can save them in:
- MovablePathfinderGrid#calcDecentralizeVector
- MovablePathfinderGrid#informMovables
- MovablePathfinderGrid#getEnemyInSearchArea
- ObjectsGrid#informObjectsAboutAttackable
- LandscapeGrid#areAllNeighboursOf
- MovableGrid#informMovables

[2016-04-04 23:53] michaelzangl opened #340 "Make soldiers search for enemies faster"
MovablePathfinderGrid#getEnemyInSearchArea is taking lots of time.

MovablePathfinderGrud#calcDecentralizeVector could also be called less often if the movables have not been moving for some time.

[2016-04-06 10:59] DerKrawallkeks commented on #208
@michaelzangl Thank you! How can I get a ready-to-go apk file to test it? I'm not into git or java programming, but I'd like to test it, since I've had the same problem

[2016-04-06 12:02] michaelzangl commented on #208
Compiling for android is difficult since it uses the outdated eclipse tools.

I created a short guide in https://github.com/jsettlers/settlers-remake/wiki/Setting-up-%28eclipse%29

[2016-04-06 21:00] ckorn commented on #274
Also happens here on Ubuntu 15.10 amd64
NVIDIA 355.11 drivers (GeForce GTX 750 Ti)
[code]

http://sprunge.us/RdTc

[2016-04-06 21:53] andreas-eberle commented on #319
I did not experience this any more and since the new main menu is merged into the master, I close this issue.

[2016-04-06 21:53] #319 closed

[2016-04-06 22:06] DerKrawallkeks commented on #208
Okay, thx

[2016-04-06 22:14] michaelzangl commented on #208
Now there is a simpler way:
[code]

This gradle build process is still in a rough alpha stage, let me know if you have any issues.

(For playing on PC: `./gradlew run`)

[2016-04-07 09:56] JKatzwinkel commented on #336
Conversion would make things like changing branches a lot easier indeed.

[2016-04-07 10:12] JKatzwinkel opened #343 "Sort order of saved games."
With the new GUI (*`new_swing_gui` branch*), the list of saved maps is no longer in antichronological order. Instead, no sorting seems to be being applied at all, map order is the same as in `ls -f`.

[2016-04-07 10:23] JKatzwinkel opened #344 "Player position recovery from saved game."
When playing a map as a player other than "player 0" and saving it, you will play as "player 0" after loading that saved game.

[2016-04-07 17:12] #330 closed

[2016-04-07 18:32] andreas-eberle commented on #336
I opened #345. Due to the update of the .gitattributes file, my git always wants to update these files with the correct line endings, which makes it very hard to find my own changes at the moment. Therefore I will merge the PR very soon, although this might cause merge conflicts...

[2016-04-07 19:53] andreas-eberle commented on #336
I messed up #345 somehow... #346 will be merged as soon as the test are finished.

[2016-04-08 10:47] andreas-eberle opened #347 "Tower soldiers do not defend their tower any more"

[2016-04-08 12:07] andreas-eberle commented on #274
Can you try updating your graphics drivers to the newest version?

[2016-04-08 20:15] ckorn commented on #274
Just upgraded to 364.12.

Now it does not crash any more but I only get a grey screen:
http://pix.toile-libre.org/upload/original/1460146448.png

Output is:
[code]

[2016-04-08 22:10] michaelzangl commented on #336
Some files were missing... #350

[2016-04-09 11:41] andreas-eberle opened #351 "Savegame list is not refreshed when creating a new savegame."

[2016-04-09 13:13] #195 closed

[2016-04-09 13:14] #156 closed

[2016-04-09 13:15] michaelzangl commented on #156
I think the license is mentioned in enough places for everyone to see it.

[2016-04-09 13:31] #343 closed

[2016-04-09 13:34] michaelzangl opened #354 "Implement map download manager"
Currently we have several maps in our resources.

I suggest to not pack them into the resource directory - especially because they are then always packed into the android APK and Android does not like large files...

I suggest creating a download manager for the maps - compatible with Android and with Swing. It uses a new github repository to manage all maps.

We can use the GIT API to query all a

[2016-04-10 12:57] JKatzwinkel opened #356 "Market cargo requests don't trigger production."
When requesting tools like shovels, hammers and pick axes at a market, one would expect a tool smith to forge those tools. But tool smith don't care and market never receives what it wants.

[2016-04-10 13:27] JKatzwinkel commented on #356
Is there even a way yet to request production of tools without at the same time getting the respective special workers? It looks like tool production is exclusively invoked based on that `WorkerCreationRequest` linked list in `PartitionManager`.

[2016-04-10 15:16] andreas-eberle opened #357 "Make manual tool production possible."
At the moment, tools are only produced when a worker is needed. We should also make it possible to manually request the tool production (e.g. to be able to send tools with donkeys).

[2016-04-10 15:17] andreas-eberle commented on #356
At the moment there is no way of manually requesting tools to be produced.

However, the market should not trigger the creating of tools, as this is clearly not its responsibility. In fact, we need to make the tool production menu working for this.

Therefore I created #357 to coordinate this task and will close this one.

[2016-04-10 15:17] #356 closed

[2016-04-10 17:31] #336 closed

[2016-04-10 17:31] michaelzangl commented on #104
We switched to Java 1.8 for those projects a while ago.

[2016-04-10 17:31] #104 closed

[2016-04-10 20:43] andreas-eberle commented on #280
Fixed with #331.

[2016-04-10 20:43] #280 closed

[2016-04-10 20:43] andreas-eberle commented on #275
@andreasb242: Did you still experience this? I was never able to reproduce it.

[2016-04-11 16:49] andreasb242 commented on #275
I didn't try again, I close the ticket, I will create a new one / reopen this if I can reproduce it

[2016-04-11 16:49] #275 closed

[2016-04-12 18:26] michaelzangl commented on #200
Issue was solved a while ago...

[2016-04-12 18:26] #200 closed

[2016-04-17 10:48] andreas-eberle commented on #286
Does anyone of you have experience with Gitter.im? It seems to be integrated with github quite well.

[2016-04-17 12:38] jimnordb commented on #286
This is the first time i see it, seems rather polished :D

[2016-04-17 13:05] jimnordb opened #359 "Nightly Builds"
Is someone willing to setup a travis or something we could to get nightly builds?

[2016-04-17 13:11] janisozaur commented on #286
Hi, at https://github.com/OpenRCT2/OpenRCT2 we use gitter. Stick away from that service, the very few minutes I've spent with discord proved it was much better and easier to use.

[2016-04-17 14:32] michaelzangl commented on #359
Travis is already set up.

We don't do nightly builds, we do builds after every addition to master (or to any other branch).

[2016-04-17 14:32] #359 closed

[2016-04-17 21:04] jimnordb commented on #359
That is good! is having a dedicated page on the official web page that links the latest builds in the plans?  also do you have a link to downloading the specific packages for each build? @michaelzangl https://travis-ci.org/  only seem to output logs. even though the log states its uploading a zip file.

[2016-04-17 22:08] michaelzangl commented on #359
We are generating a ZIP file. Travis is not meant to release any artefacts. There is limited support for pushing it on to some web services but we currently do not intend to do this (mostly because of security issues)

[2016-04-18 12:10] DerKrawallkeks commented on #357
Manual tool request should overwrite the automatic management. A manually requested tool should not just be put into the queue of possible automatic production that might be going on

[2016-04-22 15:49] #351 closed

[2016-04-22 17:33] #347 closed

[2016-04-22 20:33] derfuhrer2007 opened #361 "Soldiers not going to new tower"
Android

On settler craters map when beginning I have created a tower in the S, NW and NE.

The tower on the S does not get populated with soldiers at all, while the other 2 get bowmen on top.

Samsung Note 3 Android 5.0 No mods

[2016-04-22 20:58] derfuhrer2007 commented on #361
Found that if you send a swordsman close to a tower that is empty he will go in, so it is probably the distance limit that needs adjusting.

Pretty good game for now, keep up the good work.